- content_for :action_specific_head  do
  = stylesheet_link_tag 'transformation_admin/pages/editors'


%section.intro
  .container
    = link_to content['button_back'], admin_editors_path, class: 'back'

    %h1= @editor.name

    .controls
      = link_to content['button_edit'], edit_admin_editor_path(@editor), class: 'button edit'

      .deactivated
      - if @editor.deactivated?
        %p.deactivated This user has been deactivated
        = button_to content['button_reactivate'], admin_editor_reactivate_path(@editor), method: :put, class: 'button activation'
      - else
        = button_to content['button_deactivate'], admin_editor_deactivate_path(@editor), method: :delete, class: 'button activation'

%section.details
  .container
    %dl.editor
      %dt{:scope => 'row'} Name
      %dd= @editor.name

      %dt{:scope => 'row'} Email
      %dd= @editor.email

      %dt{:scope => 'row'} Role
      %dd= @editor.role.titlecase

      - if @editor.uploader?
        %dt{:scope => 'row'} Service provider
        %dd= @editor.service_provider&.name
