= link_to "Back", admin_editors_path, class: 'link-back'

%h1.heading-xlarge
  = @editor.name
  - if @editor.deactivated?
    .heading-secondary This user has been deactivated

.grid-row
  .column-one-quarter
    = link_to 'Edit Editor', edit_admin_editor_path(@editor), class: 'button'
  - if !@editor.deactivated?
    .column-one-quarter
      = button_to 'Deactivate Editor', admin_editor_deactivate_path(@editor), method: :delete, class: 'button'

%hr

.grid-row
  .column-two-thirds
    %table.horizontal
      %tr
        %th{:scope => 'row'} Name
        %td= @editor.name
      %tr
        %th{:scope => 'row'} Email
        %td= @editor.email
      %tr
        %th{:scope => 'row'} Role
        %td= @editor.role.titlecase
      - if @editor.uploader?
        %tr
          %th{:scope => 'row'} Service provider
          %td= @editor.service_provider&.name
