-# ExOpps Transformation layer.
-# -------------------------------- 
-# The transformation code was built on top of original ExRed files so natively support
-# the dit namespace, continuing on and enhancing files originally created within ExRed. 
-# Those files now live under app/assets/javascript/transformation/ folder location of this repo.
= javascript_include_tag 'transformation/dit.page.all'

-# Header & footer supporting files.
-# ---------------------------------
-# Changes to original header-footer namespaced and separate file(s) mean they now add to the dit
-# namespace, native to ExOpps and inherited from original ExRed code.
-# These files live outside ExOpps in the export-components repo.
= javascript_include_tag  'export-components/dit.classes.Dropdown'
= javascript_include_tag  'export-components/dit.components.header'


-# Persistent values for JS use
-# ---------------------------------
-# Constants added here get values from dynamically assigned by the BE code for use in JS files.
:javascript
  dit.constants.COMPANIES_HOUSE_SEARCH = "#{Figaro.env.EXPORT_COMPANIES_HOUSE_SEARCH}";


-# Initialise GTM dataLayer variable
-# Note: Using string 'True/False'
-# to mimic same values as in Django
-# ---------------------------------
= javascript_include_tag  'transformation/dit.tagging'

:javascript
  window.dataLayer = window.dataLayer || [];
  window.dataLayer.push({
    'businessUnit': 'ExportOpportunities',
    'siteLanguage': 'en-gb',
    'userID': '#{current_user&.sso_hashed_uuid}',
    'loginStatus': '#{current_user ? "True" : "False"}',
    'pageCategory': '#{@page_type}'
  });


