.container
  .legacy.margin-top-30
    %h1 You applied for this opportunity
  .row.collapse
    .column-9
      .accordion
        .accordion-section
          .accordion-section-header{:tabindex=>"0"}
            %h3.heading-medium Opportunity details
          .accordion-section-body
            %h4.margin-top-30 #{@enquiry.opportunity.title.strip}
            %p #{@enquiry.opportunity.teaser.strip}
            %h4 Essential information
            .meta
              .meta__item
                %h4.meta__header
                  Sectors:
                %p.meta__content
                  = @enquiry.opportunity.sectors.pluck(:name).to_sentence
              .meta__item
                %h4.meta__header
                  Opportunity type:
                %p.meta__content
                  = @enquiry.opportunity.types.pluck(:name).to_sentence
              .meta__item
                %h4.meta__header
                  Value of contract:
                %p.meta__content
                  - if @enquiry.opportunity.values.any?
                    = @enquiry.opportunity.values.first.name
                  - else
                    Value unknown
              .meta__item
                %h4.meta__header
                  Applications received:
                %p.meta__content
                  = @enquiry.opportunity.enquiries.size
        .accordion-section
          .accordion-section-header{:tabindex=>"0"}
            %h3.heading-medium Your submission
          .accordion-section-body
            %h4.margin-top-30 Sent on: #{@enquiry.created_at}
            =present_html_or_formatted_text(@enquiry.company_explanation)

            %h4 Details you gave us
            .meta
              .meta__item
                %h4.meta__header
                  Company sectors:
                %p.meta__content
                  = @enquiry.company_sector
              .meta__item
                %h4.meta__header
                  Existing exporter:
                %p.meta__content
                  = @enquiry.existing_exporter
            - if @enquiry.company_url.nil? & @enquiry.company_url.empty?
              .meta__item
                %h4.meta__header
                  Company website:
                %p.meta__content= link_to @enquiry.company_url, @enquiry.company_url
            - if @enquiry.company_house_number
              .meta__item
                %h4.meta__header
                  Companies house record:
                %p.meta__content= link_to @enquiry.company_url, @enquiry.company_url
        .accordion-section
          .accordion-section-header{:tabindex=>"0"}
            %h3.heading-medium Outcome and next steps
          .accordion-section-body
            .margin-top-30
              - case @response_type
                - when 0
                  = 'Your application is under consideration.'
                - when 1
                  = render 'users/enquiries/includes/outcome/right', enquiry_response: @enquiry_response
                - when 2
                  = render 'users/enquiries/includes/outcome/need_more_information', enquiry_response: @enquiry_response
                - when 3
                  = render 'users/enquiries/includes/outcome/not_right', enquiry_response: @enquiry_response
                - when 4
                  = render 'users/enquiries/includes/outcome/not_uk_registered', enquiry_response: @enquiry_response
                - when 5
                  = render 'users/enquiries/includes/outcome/not_for_third_party', enquiry_response: @enquiry_response

.bg-offwhite.margin-top-30
  .container
    %section#suggestions
      %h2.padding-top-30 Additional suggestions
      - case @response_type
        - when 0
          = 'Just base it off the fact there is no response yet'
        - when 1
          = render 'users/enquiries/includes/suggestions/right', enquiry_response: @enquiry_response
        - when 2
          = render 'users/enquiries/includes/suggestions/need_more_information', enquiry_response: @enquiry_response
        - when 3
          = render 'users/enquiries/includes/suggestions/not_right', enquiry_response: @enquiry_response
        - when 4
          = render 'users/enquiries/includes/suggestions/not_uk_registered', enquiry_response: @enquiry_response
        - when 5
          = render 'users/enquiries/includes/suggestions/not_for_third_party', enquiry_response: @enquiry_response

%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br 


=@enquiry.inspect
%br

=@enquiry.opportunity.inspect
%br


