/normalise response type code
- @response_type = @enquiry.enquiry_responses.first.response_type.nil? ? 0 : @enquiry.enquiry_responses.first.response_type

.container
  .legacy.margin-top-30
    %section#opportunity
      %h1 You applied for this opportunity:
      %h2 #{@enquiry.opportunity.title.strip}
      %p #{@enquiry.opportunity.teaser.strip}
      %h3 Essential information
      .meta
        .meta__item
          %h4.meta__header
            Sectors:
          %p.meta__content
            = @enquiry.opportunity.sectors.pluck(:name).to_sentence
        .meta__item
          %h4.meta__header
            Opportunity type:
          %p.meta__content
            = @enquiry.opportunity.types.pluck(:name).to_sentence
        .meta__item
          %h4.meta__header
            Value of contract:
          %p.meta__content
            - if @enquiry.opportunity.values.any?
              = @enquiry.opportunity.values.first.name
            - else
              Value unknown
        .meta__item
          %h4.meta__header
            Applications received:
          %p.meta__content
            = @enquiry.opportunity.enquiries.size

    %hr

    %section#enquiry-details
      %h1 Your proposal
      %p Sent on: #{@enquiry.created_at}
      =present_html_or_formatted_text(@enquiry.company_explanation)
      %h3 Details you gave us
      .meta
        .meta__item
          %h4.meta__header
            Company sectors:
          %p.meta__content
            = @enquiry.company_sector
        .meta__item
          %h4.meta__header
            Existing exporter:
          %p.meta__content
            = @enquiry.existing_exporter
      - if @enquiry.company_url.nil? & @enquiry.company_url.empty?
        .meta__item
          %h4.meta__header
            Company website:
          %p.meta__content= link_to @enquiry.company_url, @enquiry.company_url
      - if @enquiry.company_house_number
        .meta__item
          %h4.meta__header
            Companies house record:
          %p.meta__content= link_to @enquiry.company_url, @enquiry.company_url

    %hr

    %section#next-steps
      %h1 Next steps

      - case @response_type
        - when 0
          = 'Just base it off the fact there is no response yet'
        - when 1
          = render 'users/enquiries/snippets/outcome/right', enquiries_response: @enquiry.enquiry_responses.first
        - when '2'
          = render 'users/enquiries/snippets/outcome/right', enquiries_response: @enquiry.enquiry_responses.first
        - when '3'
          = render 'users/enquiries/snippets/outcome/right', enquiries_response: @enquiry.enquiry_responses.first
        - when '4'
          = render 'users/enquiries/snippets/outcome/right', enquiries_response: @enquiry.enquiry_responses.first
        - when '5'
          = render 'users/enquiries/snippets/outcome/right', enquiries_response: @enquiry.enquiry_responses.first
      
      - if @enquiry.enquiry_responses&.exists?
        
      - else


    %hr

    %section#suggestions
      %h1 Additional suggestions

      - case @response_type
        - when 0
          = 'Just base it off the fact there is no response yet'
        - when 1
          = render 'users/enquiries/snippets/suggestions/right', enquiries_response: @enquiry.enquiry_responses.first
        - when '2'
          = render 'users/enquiries/snippets/suggestions/right', enquiries_response: @enquiry.enquiry_responses.first
        - when '3'
          = render 'users/enquiries/snippets/suggestions/right', enquiries_response: @enquiry.enquiry_responses.first
        - when '4'
          = render 'users/enquiries/snippets/suggestions/right', enquiries_response: @enquiry.enquiry_responses.first
        - when '5'
          = render 'users/enquiries/snippets/suggestions/right', enquiries_response: @enquiry.enquiry_responses.first
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br

    =@enquiry.inspect
    %br

    =@enquiry.opportunity.inspect
    %br

    =@enquiry.enquiry_responses.first.inspect


    %h1 Enquiry for &ldquo;#{@enquiry.opportunity.title.strip}&rdquo;
    %p Applied on: #{@enquiry.created_at}

    %table.horizontal
      %tr
        %th{:scope => 'row'} Name
        %td= @enquiry.first_name + ' ' + @enquiry.last_name
      %tr
        %th{:scope => 'row'} Email address
        %td= @enquiry.email
      %tr
        %th{:scope => 'row'} Telephone number
        %td= @enquiry.company_telephone
      %tr
        %th{scope: 'row'} Company name
        %td= @enquiry.company_name
      %tr
        %th{scope: 'row'} Company address
        %td
          = @enquiry.company_address
          %br
          = @enquiry.company_postcode
      - if @enquiry.company_url
        %tr
          %th{scope: 'row'} Company URL
          %td= link_to @enquiry.company_url, @enquiry.company_url
      - if @enquiry.company_house_number
        %tr
          %th{:scope => 'row'} Companies House Number
          %td #{@enquiry.company_house_number}
      %tr
        %th{:scope => 'row'} Have you sold products or services to overseas customers?
        %td= @enquiry.existing_exporter
      %tr
        %th{:scope => 'row'} Sector
        %td= @enquiry.company_sector
      %tr
        %th{:scope => 'row'} How do you meet the requirements for this opportunity?
        %td= present_html_or_formatted_text(@enquiry.company_explanation)

    %a.button.button-blue{href: dashboard_path} Go back
