-# Displays social media sharing links.
-#
-# Data required for this component:
-# title (String) The page title
-# path  (String) The page URL
-#

- twitter = "https://twitter.com/intent/tweet?text=#{title} #{path}"
- facebook = "http://www.facebook.com/share.php?u=#{path}"
- linkedin = "https://www.linkedin.com/shareArticle?mini=true&url=#{path}&title=#{title}&source=LinkedIn"
- email = "mailto:?body=#{path}&amp;subject=#{title}"

.sharing-links{"data-component"=>"sharing-links"}
  %p
    Share
    %span.verbose this page
  %ul.navigation
    %li.twitter
      =link_to twitter, :target=>"_blank", :title=>"Opens in a new window", :rel=>"external" do
        Share with Twitter

    %li.facebook
      =link_to facebook, :target=>"_blank", :title=>"Opens in a new window", :rel=>"external" do
        Share with Facebook

    %li.linkedin
      =link_to linkedin, :target=>"_blank", :title=>"Opens in a new window", :rel=>"external" do
        Share with LinkedIn

    %li.email
      =link_to email, :target=>"_blank" do
        Share by email
