= form_tag subscriptions_path_for_current_user, :class=>'subscription-form' do
  %h2
    ="Subscribe to email alerts #{subscription[:what]} #{subscription[:where]}"

  %p
    Receive email alerts whenever a relevant opportunity is published.
    - if current_user
      These will be sent to
      = current_user[:email]

  .form-group
    = hidden_field_tag 'subscription[query[title]]', subscription[:title]
    = hidden_field_tag 'subscription[query[search_term]]', subscription[:keywords]
    - subscription[:countries].each do |country|
      = hidden_field_tag 'subscription[query[countries]][]', country.slug, multiple: true
    = submit_tag 'Subscribe', class: 'button'

    - if current_user
      = link_to "Manage email subscriptions", "/subscriptions"
