= form_tag subscriptions_path_for_current_user, :class=>'subscription-link' do
  = hidden_field_tag 'subscription[title]', subscription[:title]
  = hidden_field_tag 'subscription[query[search_term]]', subscription[:keywords]
  - subscription[:countries].each do |country|
    = hidden_field_tag 'subscription[query[countries]][]', country.slug, multiple: true

  = submit_tag "Subscribe to email alerts#{subscription[:what]}#{subscription[:where]}", :class=>"link"

