- page = Poc::PagePresenter.new(@content)
- form = Poc::FormPresenter.new(@content, @process)
- content_for :action_specific_head do
  = javascript_include_tag "poc/layouts/form.js"

.container
  = render partial: "components/breadcrumbs", locals: { breadcrumbs: page.breadcrumbs }
  -#= render partial: "components/confirmation-notice", locals: { content: page.content["confirmation"] }

  %h1.verbose= page.content["title"]

  .confirmation-notice
    %p.notice= page.content["confirmation"]

  %form{:method=>"post"}
    -# Deleted subscriptions...
    - @subscription_ids&.each do |sub|
      %input{:type=>"hidden", :name=>"deleted_subscriptions[]", :value=>sub}

    = render partial: "forms/input_radio", locals: { input: form.input_radio("why") }
    %input{:type=>"submit", :value=>form.content["submit"], :class=>"button"}
