.container
  = render partial: 'components/breadcrumbs', locals: { breadcrumbs: @page.breadcrumbs }


#opportunity-match-results
  .information
    .container
      %h1.verbose= content['title']
      %p= @results.found_message

  .match-results
    .container
      = render partial: "opportunities/list", locals: { list: @results.found }
      = render partial: "components/pagination", locals: { items: @paged_results }
