-# do we need javascript on this page?
-#= javascript_include_tag 'poc/layouts/results'
- @results = @paginatable_results
= stylesheet_link_tag 'email_notifications_show'

.container
  = render partial: 'components/breadcrumbs', locals: { breadcrumbs: [{:title=>"Home", :slug=>"https://www.great.gov.uk/"}, {:title=>"Export Opportunities", :slug=>"/"}, {:title=>"Email Notifications", :slug=>""}]}


#search-results
  .container
    .information
      %p= "#{@results.size} Results found"
.search-results
  %dl.opportunities-list
    - @results.each do |opportunity|
      %dt{:class=>"#{opportunity.source}"}
        = link_to "#{opportunity.countries.map(&:name).join} - #{opportunity.title}", poc_opportunity_path(opportunity)

      %dd{class: "#{opportunity.source}"}
        %span.text
          = opportunity.teaser

        - if opportunity.source.eql? 'volume_opps'
          %span.source
            Provided by
            = image_tag "logos/openopps_logo.png", :alt=>"Open Opps"

        .actions
          %span.expires
            Closing date:
            = opportunity.response_due_on.strftime('%d %B %Y')

  = render partial: "components/pagination", locals: { items: @results }
