<footer id="footer">
  <div class="container">
    <%= link_to "https://www.gov.uk/" do %>
      <%= image_tag "logos/HM_Government_logo_light.svg", :class=>"logo", :alt=>"UK Government" %>
    <% end %>
  </div>

  <div id="footer-site-links">
    <div class="container">
      <ul class="navigation">
        <li><%= link_to "Privacy and cookies", "/international/privacy-and-cookies/?lang=en-gb" %></li>
        <li><%= link_to "Terms and Conditions", "/international/terms-and-conditions/?lang=en-gb" %></li>
      </ul>

      <p data-component="sharing-links" class="sharing-links">
        <span class="label">Share </span>
        <%= link_to "https://twitter.com/intent/tweet?text=Welcome%20to%20the%20UK%20https://www.great.gov.uk/international/?lang=en-gb" do %>
          <%= image_tag "logos/twitter.svg", :width=>"36px", :alt=>"with Twitter" %>
        <% end %>
        <span class="verbose">, </span>
        <%= link_to "https://www.facebook.com/share.php?u=https://www.great.gov.uk/international/?lang=en-gb" do %>
          <%= image_tag "logos/facebook.svg", :width=>"36px", :alt=>"with Facebook" %>
        <% end %>
        <span class="verbose">, </span>
        <%= link_to "https://www.linkedin.com/shareArticle?mini=true&amp;url=https://www.great.gov.uk/international/?lang=en-gb&amp;title=Welcome%20to%20the%20UK&amp;source=LinkedIn" do %>
          <%= image_tag "logos/linkedin.svg", :width=>"36px", :alt=>"with LinkedIn" %>
        <% end %>
        <span class="verbose">, </span>
        <%= link_to "mailto:?body=https://www.great.gov.uk/international/?lang=en-gb&amp;subject=Welcome%20to%20the%20UK" do %>
          <%= image_tag "logos/email.svg", :width=>"36px", :alt=>"by email" %>
        <% end %>
      </p>
    </div>
  </div>

  <div id="footer-site-bar">
    <div class="container">
      <p class="copyright">&copy; Crown copyright 2017. All rights reserved.</p>
    </div>
  </div>
</footer>
