%p 
  Dear
  = @enquiry.first_name
  = @enquiry.last_name

  %br
  %br
  You've received a new enquiry for 
  %strong
    = @enquiry.opportunity.title
  from
  %strong
    = "#{@enquiry.company_name}."

%p 
  You need to respond to the enquiry using the correct reply template in the admin centre by
  = 7.days.from_now.strftime("%d %B %Y") + '.'

%p Remember to record a new interaction in Data Hub. 

%p.action
  = link_to "Go to enquiry", admin_enquiry_url(@enquiry.id)
