%section
  .container.hcsat
    %div
      = form_tag customer_satisfaction_rating_path, method: :post do
        .abc
          %div
            %div
              = field_set_tag 'Overall, how would you rate your experience with the Export Opportunities service today?', class: 'hcsat__heading'  do
                .govuk-margin-top-4
                  = collection_radio_buttons(:feedback, :satisfaction_rating, CustomerSatisfactionFeedback::SATISFACTION_CHOICES, :first, :last, class: 'hcsat__fieldset') do |b|
                    %div.hcsat__radios_item.govuk-margin-bottom-2
                      = b.radio_button(class: 'multiple-choice hcsat__radios_input')
                      = b.label(class: 'hcsat__body_text hcsat__radios_label')
        .govuk-margin-top-4
          = submit_tag 'Submit and continue', class: 'button '
          = submit_tag 'Cancel', class: 'button'
