%section
  .container.hcsat
    - if @csat.errors.any?
      .hcsat__error_summary.govuk-margin-bottom-4.govuk-margin-top-4
        %h2.hcsat__error_summary_heading.govuk-margin-bottom-3 There is a problem
        %ul{'aria-labelledby': 'errors-list-label'}
          - @csat.errors.each do |error|
            %li.hcsat__error_summary_list_item.govuk-margin-bottom-1
              %a{ :href => "#csat_#{error.attribute}", :class => %w[hcsat__error_summary_link govuk-margin-bottom-1] } 
                = error.full_message
    %div
      = form_tag customer_satisfaction_rating_path, method: :post do
        .abc
          %div
            %div
              = field_set_tag 'Overall, how would you rate your experience with the Export Opportunities service today?', class: 'hcsat__heading'  do
                .govuk-margin-top-4
                  = collection_radio_buttons(:feedback, :satisfaction_rating, CustomerSatisfactionFeedback::SATISFACTION_CHOICES, :first, :last, class: 'hcsat__fieldset') do |b|
                    %div.hcsat__radios_item.govuk-margin-bottom-2
                      = b.radio_button(class: 'multiple-choice hcsat__radios_input')
                      = b.label(class: 'hcsat__body_text hcsat__radios_label')
        .govuk-margin-top-4
          = submit_tag 'Submit and continue', class: 'button '
          = button_to 'Cancel', customer_satisfaction_cancel_path, method: :get, class: 'button'
