
%div.panel.panel-border-narrow
  .grid-row
    .column-one-half
      %p Dear #{@enquiry_response.enquiry.first_name},
      %p
        Thank you for your interest in the export opportunity:
        %b=@enquiry_response.enquiry.opportunity.title

      %h3 Outcome
      %p Your application will now move to the next stage. 

      %h3 Reason
      %p Your application meets the criteria for this opportunity.

      = render 'enquiry_response_mailer/editable_content', enquiry_response: @enquiry_response

      %p Although you meet the criteria for this opportunity, we cannot guarantee that you will win the business. If you have any questions about this opportunity or our market in general, please do not hesitate to contact us.

      %h3 Review your proposal and additional recommendations 

      %p= link_to "#{Figaro.env.DOMAIN}/dashboard/enquiries/#{@enquiry_response.enquiry_id}", "#{Figaro.env.DOMAIN}/dashboard/enquiries/#{@enquiry_response.enquiry_id}", { class: 'link' } 
      
      %br
      
      %p!=@enquiry_response.signature

=render partial:'enquiry_response_mailer/submit_buttons' unless @mailer_view
