
<header id="great-header" class="great-header domestic">

  <div id="great-global-header" class="great-global-header-footer great-global-header domestic">
    <div class="container">
      <img id="great-global-header-logo" class="great-global-header-footer-logo" height="21" alt="Department for International Trade" src="<%= asset_path 'dit-logo.svg' %>">
      <div class="great-domestic-international-links">
        <a href="<%= Figaro.env.GREAT_GOV_URL %>" id="great-global-header-domestic-link" class="domestic">For UK businesses</a>
        <a href="<%= Figaro.env.GREAT_GOV_URL %>/international/" id="great-global-header-international-link" class="international">For international businesses</a>
      </div>
    </div>
  </div>

  <div id="great-header-menu" class="great-header-menu domestic">
    <div class="container">

      <a id="great-header-logo" class="great-header-logo" href="<%=Figaro.env.GREAT_GOV_URL %>">
        <img src="<%= asset_path 'eig-logo-stacked.svg' %>" alt="Exporting is Great" height="80">
      </a>

      <ul class="great-header-extra-links" id="great-header-extra-links">
        <% if !current_user %>
        <li class="anonymous">
          <a id="header-sign-in-link" href="<%= dashboard_path %>" class="account-link signin">Sign in</a>
        </li>
        <% else %>
        <li class="authenticated">
          <a id="header-profile-link" href="<%= dashboard_path %>" class="account-link profile">Account</a>
        </li>
        <li class="authenticated">
          <a id="header-sign-out-link" href="<%= destroy_user_session_path %>" class="account-link signout">Sign out</a>
        </li>
        <% end %>
      </ul>
    </div>

    <div class="great-header-nav-container">
      <nav id="great-header-nav" class="great-header-nav domestic" aria-label="Main menu">
        <ul class="great-header-nav-list js-nav-list" id="great-header-nav-list">

          <li class="column-quarter js-menuitem">
            <a href="<%=Figaro.env.GREAT_GOV_URL %>/advice/" class="link-heading" id="header-advice">Advice</a>
          </li>

          <li class="column-quarter js-menuitem">
            <a href="<%=Figaro.env.GREAT_GOV_URL %>/markets/" class="link-heading" id="header-markets">Markets</a>
          </li>

          <li class="column-quarter js-menuitem">
            <a href="<%=Figaro.env.GREAT_GOV_URL %>/services/" class="link-heading" id="header-services">Services</a>
          </li>

          <% if Figaro.env.NEWS_SECTION_ON %>
          <li class="column-quarter js-menuitem">
            <a href="<%= Figaro.env.GREAT_GOV_URL %>/news/" class="link-heading" id="header-news">News and events</a>
          </li>
          <% end %>

        </ul>
      </nav>
    </div>

    <% if Figaro.env.HEADER_SEARCH_ON %>
    <style media="screen">
      body.js-enabled .great-header.domestic .great-header-nav { margin-right: 260px }
    </style>
    <div class="great-header-search-wrapper">
      <div class="great-header-search-container">
        <form action="<%=Figaro.env.GREAT_GOV_URL %>/search/" method="GET">
          <input id="search-box" type="text" name="q" placeholder="Search">
          <button type="submit">Search</button>
        </form>
      </div>
    </div>
    <% end %>

  </div>
</header>
