- enquiry_id = params.fetch(:id)

= form_for [:admin, enquiries_response], html: {multipart: true} do |f|
  - if enquiries_response.errors.any?
    .error-summary{:role => 'group', :tabindex => '-1'}
      %h2
        = pluralize(enquiries_response.errors.count, 'error')
        prevented this enquiry response from being saved:
      %ul
        - enquiries_response.errors.full_messages.each do |message|
          %li= message
  %fieldset
    %legend.visuallyhidden
      Response type
    .tabs.js-tabs
      .tablist.js-tablist
        %ul
          %li.positive.active
            %input#response_type_1.visuallyhidden{:name => "response_type", :type => "radio", :value => "1", "aria-controls" => "response-1-tab-content", "aria-expanded" => "true"}/
            %label{:for => "response_type_1"} Right for opportunity
          %li.neutral
            %input#response_type_2.visuallyhidden{:name => "response_type", :type => "radio", :value => "2", "aria-controls" => "response-2-tab-content"}/
            %label{:for => "response_type_2"} Need more information
          %li
            %input#response_type_3.visuallyhidden{:name => "response_type", :type => "radio", :value => "3", "aria-controls" => "response-3-tab-content"}/
            %label{:for => "response_type_3"} Not right for opportunity
          %li
            %input#response_type_4.visuallyhidden{:name => "response_type", :type => "radio", :value => "4", "aria-controls" => "response-4-tab-content"}/
            %label{:for => "response_type_4"} Not UK registered
          %li
            %input#response_type_5.visuallyhidden{:name => "response_type", :type => "radio", :value => "5", "aria-controls" => "response-5-tab-content"}/
            %label{:for => "response_type_5"} Not for third party

      .tab-content.js-tab-content{"aria-live" => "polite"}
        #response-1-tab-panel.tab-panel.js-tab-panel.tab-panel-selected{:role => "tabpanel", "aria-hidden" => "true"}
          %h5 
            %strong Explain what happens next
          %p Let the company know if:
          %ul.list.list-bullet.margin-bottom-0
            %li their details will be sent to the buyer
            %li they will be introduced to the buyer
            %li they need to contact the buyer
            %li they need to apply for the tender and include all necessary information 

        #response-2-tab-panel.tab-panel.js-tab-panel{"aria-expanded" => "true", :role => "tabpanel", "aria-hidden" => "true"}
          %h5 
            %strong  Need more information
          %p Let the company know if:
          %ul.list.list-bullet.margin-bottom-0
            %li their details will be sent to the buyer
            %li they will be introduced to the buyer

        #response-3.tab-panel.js-tab-panel{"aria-expanded" => "true", :role => "tabpanel"}
          %h5 
            %strong  Not right for opportunity
            %p More stuff

        #response-4.tab-panel.js-tab-panel{"aria-expanded" => "true", :role => "tabpanel"}
          %h5 
            %strong  Not UK registered
            %p More stuff

        #response-5.tab-panel.js-tab-panel{"aria-expanded" => "true", :role => "tabpanel"}
          %h5 
            %strong  Not UK registered

  %fieldset#custom-response
    .form-group
      %h4.form-label-bold Your response
      = f.label :email_body, class: 'visuallyhidden'
      = f.text_area(:email_body, cols: 40, rows: 25, class: 'form-control js-text-editor')

  %fieldset#signature
    .grid-row
      .column-one-half
        .form-group.js-toggle-field-edit
          %h4.form-label.form-label-bold
            Your contact details
            // TODO: render different elements depending on state of record
            %a.js-toggle-field-edit-button{'href' => '#', 'data-target' => 'enquiry_response_signature'} Edit
          %div.js-toggle-field-edit-text.js-hidden
            .panel.panel-border-wide
              %p.white-space-pre
                Claire Parsons | Trade Officer
                British embassy Tel-Aviv | Israel
                Phone: +44 (0) 123 123 123
                E-mail: claire.parsons@mobile.trade.gov.uk
          %div.js-toggle-field-edit-field
            = f.label :signature, class: 'visuallyhidden'   
            = f.text_area(:signature, cols: 40, rows: 15, class: 'form-control')

  %fieldset#attachments
    .form-group
      %label.form-label-bold Add links to relevant documents
      %p You can add links to documents stored online, for example Google Drive, Dropbox, One-Drive or WeTransfer. Links will expire after 30 days.
      .grid-row
        .column-one-half
          .uploadWidget
            = f.hidden_field :attachments
            // TODO: how do we handle users navigating back? lose files?
            %ul.list.fileList{"data-default-item" => "No files selected"}
            %input#enquiry_response_email_attachment.inputfile{:multiple => "multiple", :name => "enquiry_response[email_attachment][]", :type => "file", "data-multiple-caption" => "{count} files selected"}/
            %label{:for => "enquiry_response_email_attachment"}
              %svg.icon.icon-upload-file
                %use{"xlink:href" => "#icon-file-upload"}
              %span Add file
              %span.loadingIndicator

  .form-group
    = f.hidden_field :enquiry_id, as: :hidden, value: enquiry_id
    = f.submit 'Preview', class: 'button'
