
- enquiry_id = params['id'].nil? ? params['enquiry_response'].fetch(:enquiry_id) : params.fetch(:id)

- @response_type = @enquiry_response.response_type.nil? ? 1 : @enquiry_response.response_type

= form_for [:admin, enquiries_response], html: {multipart: true, :class => 'enquiry_response'} do |f|
  - if enquiries_response.errors.any?
    .error-summary{:role => 'group', :tabindex => '-1'}
      %h2.error-summary-heading There was a problem
      %p
        = pluralize(enquiries_response.errors.count, 'error')
        prevented this enquiry response from being saved:
      %ul.error-summary-list
        - enquiries_response.errors.full_messages.each do |message|
          %li= message

  %fieldset
    %legend.visuallyhidden
      Response type
    .tabs.js-tabs
      .tablist.js-tablist
        %ul
          %li{ class: (@response_type == 1 ? 'active' : nil), id: 'li1' }
            %input#response_type_1.visuallyhidden{:name => "enquiry_response[response_type]", :type => "radio", :value => "1", "aria-controls" => "response-1-tab-panel", "aria-expanded" => "true", checked: (@response_type == 1 ? 'checked' : nil) }/
            %label{:for => "response_type_1", "tabindex" => "0"} Right for opportunity
            %span.badge-positive
          %li{ class: (@response_type == 2 ? 'active' : nil), id: 'li2' }
            %input#response_type_3.visuallyhidden{:name => "enquiry_response[response_type]", :type => "radio", :value => "2", "aria-controls" => "response-3-tab-panel", checked: (@response_type == 2 ? 'checked' : nil)}/
            %label{:for => "response_type_3","tabindex" => "0"} Not right for opportunity
            %span.badge-negative
          %li{ class: (@response_type == 3 ? 'active' : nil), id: 'li3' }
            %input#response_type_4.visuallyhidden{:name => "enquiry_response[response_type]", :type => "radio", :value => "3", "aria-controls" => "response-4-tab-panel", checked: (@response_type == 3 ? 'checked' : nil)}/
            %label{:for => "response_type_4", "tabindex" => "0"} Not UK registered
            %span.badge-negative
          %li{ class: (@response_type == 4? 'active' : nil), id: 'li4' }
            %input#response_type_5.visuallyhidden{:name => "enquiry_response[response_type]", :type => "radio", :value => "4", "aria-controls" => "response-5-tab-panel", checked: (@response_type == 4 ? 'checked' : nil)}/
            %label{:for => "response_type_5", "tabindex" => "0"} Not for third party
            %span.badge-negative

      .grid-row
        .column-one-half
          .tab-content.js-tab-content{"aria-live" => "polite"}
            #response-1-tab-panel.tab-panel.js-tab-panel{"aria-expanded" => "true", :role => "tabpanel"}
              %p
                %strong Your comments will be added to the message sent to the company.
              %p Let the company know if:
              %ul.list.list-bullet
                %li you will forward their details on to the buyer
                %li you will introduce them to the buyer
                %li they will need to contact the buyer directly
                %li they can bid for the tender

              %p= link_to 'See guidance for this response', '/admin/help/right-for-opportunity-responses/overview', class: 'text', target: 'guidance'

            #response-2-tab-panel.tab-panel.js-tab-panel{"aria-expanded" => "false", :role => "tabpanel"}
              %p
                %strong Your comments will be added to the message sent to the company.
              - if @enquiry_response.enquiry.opportunity.expired?
                %p Opportunity expired #{@enquiry_response.enquiry.opportunity.response_due_on.strftime('%d %B %Y')}
              - else
                %p Opportunity expires #{@enquiry_response.enquiry.opportunity.response_due_on.strftime('%d %B %Y')}
              %p
                %strong Explain your decision:
                %br
                For example, the product or service is not relevant, the company is not ready to export in this market, or the buyer decided they are not right for the opportunity.

              %p= link_to 'See guidance for this response', '/admin/help/not-right-for-opportunity-responses/overview', class: 'text', target: 'guidance'

            #response-3-tab-panel.tab-panel.js-tab-panel{"aria-expanded" => "false", :role => "tabpanel"}
              %p
                %strong The following message will be sent to the company
              %div.panel.panel-border-narrow
                = render 'enquiry_response_mailer/not_uk_registered', enquiries_response: @enquiry_response

            #response-4-tab-panel.tab-panel.js-tab-panel{"aria-expanded" => "false", :role => "tabpanel"}
              %p
                %strong The following message will be sent to the company
              %div.panel.panel-border-narrow
                = render "enquiry_response_mailer/not_for_third_party", enquiries_response: @enquiry_response

  %fieldset#custom-response
    .grid-row
      .column-two-thirds
        .form-group
          = f.label :email_body, class: 'visuallyhidden'
          %span.error-message
          = f.text_area(:email_body, cols: 40, rows: 30, required: true, class: 'form-control js-text-editor')

  %fieldset#signature.hidden
    .grid-row
      .column-one-half
        .form-group.js-toggle-field-edit
          %h4.form-label.form-label-bold
            Your contact details
            %a.js-toggle-field-edit-button{'href' => '#', 'data-target' => 'enquiry_response_signature'} Edit
          %p.form-hint Only include: full name, role, organisation, city & country, phone number and email.
          %div.js-toggle-field-edit-text
            .panel.panel-border-wide
              %p.white-space-pre
          %div.js-toggle-field-edit-field
            = f.label :signature, class: 'visuallyhidden'
            %span.error-message
            = f.text_area(:signature, cols: 40, rows: 15, class: 'form-control js-text-editor')

  %fieldset#attachments.hidden
    .form-group
      %label.form-label-bold Add relevant documents
      %span.error-message
      %p.form-hint
        Maximum number of 5 files.
        %br
        Allowed document types: doc, docx, zip, xls, xlsx, pdf, ppt, pptx, jpg or png
        %br
        The maximum file size is 25Mb.
      .grid-row
        .column-one-half
          .uploadWidget
            = f.hidden_field :documents, {:class => "fileListStore"}
            = f.hidden_field :user_id, as: :hidden, value: @enquiry.user.uid
            // TODO: how do we handle users navigating back? lose files?
            %ul.list.fileList{"data-default-item" => "No files selected"}
            %input#enquiry_response_email_attachment.inputfile{:name => "enquiry_response[email_attachment][]", :type => "file", "data-multiple-caption" => "{count} files selected"}/
            %label{:for => "enquiry_response_email_attachment"}
              %svg.icon.icon-upload-file
                %use{"xlink:href" => "#icon-file-upload"}
              %span Add file
              %span.loadingIndicator

  %fieldset#submit
    .form-group
      = f.hidden_field :enquiry_id, as: :hidden, value: enquiry_id
      = f.submit 'Preview', class: 'button'

  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
