- enquiry_id = params.fetch(:id)

= form_for [:admin, enquiries_response], html: {multipart: true} do |f|
  - if enquiries_response.errors.any?
    .error-summary{:role => 'group', :tabindex => '-1'}
      %h2
        = pluralize(enquiries_response.errors.count, 'error')
        prevented this enquiry response from being saved:
      %ul
        - enquiries_response.errors.full_messages.each do |message|
          %li= message

  .section-tabs.js-tabs
    %ul
      %li.active
        %a#response-1-tab{:href => "/rsp1"}
          %span.visuallyhidden> More text
        %a#tab-response-1{"aria-controls" => "response-1", "aria-flowto" => "response-1", "aria-selected" => "true", :href => "#response-1", :role => "tab", :tabindex => "0"}
          %span.visuallyhidden more text
          Response 1
          %span.visuallyhidden more text
      %li
        %a#response-1-tab{:href => "/r2"}
          Response 2
      %li
        %a#people-tab{:href => "/r3"}
          Response 2
      %li
        %a#people-tab{:href => "/r3"}
          Response 4
      %li
        %a#people-tab{:href => "/r3"}
          Response 5

  .js-tab-content.tab-content{"aria-live" => "polite"}
    #response-1.js-tab-pane.tab-pane.tabs-panel-selected{"aria-expanded" => "true", "aria-hidden" => "false", "aria-labelledby" => "tab-more-information", :role => "tabpanel", :style => "display: block;"}
      %h5 
        %strong Explain what happens next
      %p Let the company know if:
      %ul.list.list-bullet.margin-bottom-0
        %li their details will be sent to the buyer
        %li they will be introduced to the buyer
        %li they need to contact the buyer
        %li they need to apply for the tender and include all necessary information 

    #response-2.js-tab-pane.tab-pane.tabs-panel-selected{"aria-expanded" => "true", "aria-hidden" => "false", "aria-labelledby" => "tab-more-information", :role => "tabpanel"}
      %h5 
        %strong Explain what happens next
      %p Let the company know if:
      %ul.list.list-bullet.margin-bottom-0
        %li their details will be sent to the buyer
        %li they will be introduced to the buyer
        %li they need to contact the buyer
        %li they need to apply for the tender and include all necessary information 

  .form-group
    = f.label :email_body, class: 'form-label-bold'
    = f.text_area(:email_body, cols: 40, rows: 15, class: 'form-control js-text-editor')
    = f.hidden_field :enquiry_id, as: :hidden, value: enquiry_id

  .form-group
    = f.label 'Your contact details', class: 'form-label-bold'
    = f.text_area(:signature, cols: 40, rows: 15, class: 'form-control js-text-editor')

    -#= f.label :attachments
    -#= f.file_field :attachments, multiple: true

    %p.form-hint
      This is the email to be sent out to the enquiry user.

  .form-group
    = f.label 'Upload files', class: 'form-label-bold'
    .grid-row
      .column-one-half
        .uploadWidget
          %input#enquiry_response_email_attachment.inputfile{:multiple => "multiple", :name => "enquiry_response[email_attachment][]", :type => "file", "data-multiple-caption" => "{count} files selected"}/
          %label{:for => "enquiry_response_email_attachment"}
            %svg.icon.icon-upload-file
              %use{"xlink:href" => "#icon-file-upload"}
            %span Choose files...
          %div.panel.panel-border-narrow
            %ul.list.fileList{"data-default-item" => "No files selected"}
              %li No files selected
            %a.bold-xsmall{:href => "#"} Remove files
  .form-group
    = f.submit 'Next', class: 'button'
