%a.link-back{:href=>admin_enquiry_path(@enquiry)} Back

%h1 Enquiry from #{@enquiry.company_name}
%table.horizontal
  %tr
    %th{:scope => 'row'} Opportunity
    %td= link_to @enquiry.opportunity.title, admin_opportunity_path(@enquiry.opportunity)
  %tr
    %th{:scope => 'row'} First name
    %td= @enquiry.first_name
  %tr
    %th{:scope => 'row'} Last name
    %td= @enquiry.last_name
  %tr
    %th{:scope => 'row'} Email address
    %td= @enquiry.email
  %tr
    %th{:scope => 'row'} Company Address
    %td= @enquiry.company_address
  %tr
    %th{:scope => 'row'} Company Telephone
    %td= @enquiry.company_telephone
  %tr
    %th{:scope => 'row'} Companies House listing
    - if @companies_house_url then
      %td=link_to @enquiry.company_name, @companies_house_url, target: :blank, :rel => 'noopener noreferrer'
    - else
      %td='Not supplied'
  %tr
    %th{:scope => 'row'} Company Postcode
    %td= @enquiry.company_postcode
  %tr
    %th{:scope => 'row'} URL
    %td= @enquiry.company_url
  %tr
    %th{:scope => 'row'} Existing exporter?
    %td= @enquiry.existing_exporter
  %tr
    %th{:scope => 'row'} Company Sector
    %td= @enquiry.company_sector
  %tr
    %th{:scope => 'row'} Company Explanation
    %td= @enquiry.company_explanation
  %tr
    %th{:scope => 'row'} Data Protection
    %td= @enquiry.data_protection ? 'Yes' : 'No'

%br
%hr.thick

%h1 Reply to this enquiry
%h3 Respond by 13 July 2017.

%p Choose suitable type of response. Your comments will be added to a standard message sent to the company. 

= render 'form', enquiries_response: @enquiry_response