/ 
  =@enquiry_response.inspect
/ 
  =@enquiry_response.enquiry.inspect

%h1 Preview your reply to #{@enquiry_response.enquiry.company_name}

%div.panel.panel-border-narrow
  .grid-row
    .column-one-half
      %p Dear #{@enquiry_response.enquiry.first_name},
      %p
        Thank you for your interest in the export opportunity: 
        %b=@enquiry_response.enquiry.opportunity.title

      - if @enquiry_response.response_type == 1
        = render :partial => "admin/enquiry_responses/snippets/right_for_opportunity", enquiries_response: @enquiry_response
      - if @enquiry_response.response_type == 2
        = render :partial => "admin/enquiry_responses/snippets/more_information", enquiries_response: @enquiry_response
      - if @enquiry_response.response_type == 3
        = render :partial => "admin/enquiry_responses/snippets/not_right", enquiries_response: @enquiry_response

      %h4 What next
      %blockquote.noquotes
        !=@enquiry_response.email_body

      %h4 Download documents
      %p Documents will expire after 30 days.

      %blockquote.noquotes
        !=@enquiry_response.attachments

      - if @enquiry_response.response_type == 1
        = render 'admin/enquiry_responses/snippets/right_for_opportunity_addendum', enquiries_response: @enquiry_response
      - if @enquiry_response.response_type == 2
        = render 'admin/enquiry_responses/snippets/more_information_addendum', enquiries_response: @enquiry_response
      - if @enquiry_response.response_type == 3
        = render 'admin/enquiry_responses/snippets/not_right_addendum', enquiries_response: @enquiry_response

      %p=@enquiry_response.signature

= link_to 'Back', :back
= link_to 'Send', admin_enquiry_response_path(@enquiry_response.id), class: 'button'