<!DOCTYPE html>
<html lang="en-GB">
<head>
  <title><%= t('organisation.name') %></title>
  <%= csrf_meta_tags %>
  <%= render partial: 'includes/styles' %>
  <%= render partial: 'includes/scripts' %>
  <%= yield :page_specific_head %>
</head>
<body>
  <%= render partial: 'includes/header_domestic' %>

  <main id="main" role="main">
    <%= content_for?(:errors) ? yield(:errors) : "" %>
    <%= content_for?(:content) ? yield(:content) : yield %>
  </main>

  <%= render partial: 'includes/footer_domestic' %>
</body>
</html>
