<!DOCTYPE html>
<html lang="en-GB">
<head>
  <title><%= t('site_name') %></title>
  <%= csrf_meta_tags %>
  <%= render partial: 'includes/global_head_tags' %>
  <%= render partial: 'includes/global_styles' %>
  <%= render partial: 'includes/global_scripts' %>

  <%= stylesheet_link_tag 'poc/layouts/enquiries', media: 'all' %>
  <%= javascript_include_tag 'poc/layouts/enquiries' %>
  <%= yield :action_specific_head %>

  <%= render partial: 'google_analytics' %>
</head>
<body>
  <%= render partial: 'layouts/dit_header' %>

  <main id="main" role="main">
    <%= content_for?(:errors) ? yield(:errors) : "" %>
    <%= content_for?(:content) ? yield(:content) : yield %>

    <%= render "components/feedback" %>
  </main>

  <%= render partial: 'layouts/dit_footer' %>
</body>
</html>
