<!DOCTYPE html>
<html lang="en-GB">
<head>
  <title><%= t('organisation.name') %> - Opportunities</title>
  <%= csrf_meta_tags %>
  <%= render partial: 'includes/styles' %>
  <%= render partial: 'includes/scripts' %>
</head>
<body class="international">
  <%= render partial: 'includes/header' %>

  <main id="main" role="main">
    <%= content_for?(:errors) ? yield(:errors) : "" %>
    <%= content_for?(:content) ? yield(:content) : yield %>
  </main>

  <%= render partial: 'includes/footer' %>
</body>
</html>
