= form_for @comment_form, url: admin_opportunity_comments_path(@opportunity) do |f|
  .form-group-related
    = f.label :message, 'Add a comment', class: 'form-label form-label-bold'
    %span.error-message{:tabindex => '-1', :'aria-hidden' => 'true', :role => 'alert'}
    = f.text_area :message, class: 'form-control'
    %p.form-hint
      Comments posted here are only visible by you and other editors.
  .button-group
    .button-group-item
      = f.submit 'Add Comment', class: 'button'
    .button-group-separator
      or
    .button-group-item
      - if current_editor.administrator?
        = f.submit 'Return to draft with comment', class: 'button js-button-draft'