= form_for @comment_form, url: admin_opportunity_comments_path(@opportunity), html: { class: 'comment-form' } do |f|
  .field.textarea
    = f.label :message, 'Add a comment', { 'aria-describedby': 'opportunity-comment-field-description' }
    %p.description{ id: 'opportunity-comment-field-description' }
      Comments posted here are only visible by you and other editors.
    = f.text_area :message, { rows: 8, cols: 60 }

  = f.submit 'Add Comment', class: 'button add'
  %span.separator or
  - if current_editor.administrator?
    = f.submit 'Return to draft with comment', class: 'button draft'
