- content_for :action_specific_head  do
  = stylesheet_link_tag 'transformation_admin/pages/opportunity_index'
  = javascript_include_tag 'transformation_admin/dit.page.opportunity_index'


%section.intro
  .container
    %h1 Opportunities

    .controls
      .filters
        %p
          Filter by status:
          - if @filters.selected_status.nil?
            %span All
          - else
            - @available_status.each do |name, _|
              - if name.to_s == @filters.selected_status.to_s
                %span= opportunity_status_link(name)

        %ul
          - if !@filters.selected_status.nil?
            %li= link_to('All', admin_opportunities_path(hide_expired: @filters.hide_expired, s: @filters.raw_search_term))
          - @available_status.each do |name, _|
            - if name.to_s != @filters.selected_status.to_s
              %li= link_to(opportunity_status_link(name), admin_opportunities_path(hide_expired: @filters.hide_expired, status: name, s: @filters.raw_search_term))

      .displayed
        %p
          - if @filters.hide_expired
            %span
              Expired opportunities are
              %strong hidden
            = link_to 'Show expired opportunities', session[:opportunity_filters].merge(hide_expired: false)
          - else
            %span
              Expired opportunities are
              %strong shown
            = link_to 'Hide expired opportunities', session[:opportunity_filters].merge(hide_expired: nil)


      .actions
        = link_to 'New opportunity', new_admin_opportunity_path, class: 'button'
        = link_to 'Download', new_admin_opportunity_download_path, class: 'button'


    .search
      = form_tag admin_opportunities_path, method: :get do
        - if @filters.selected_status
          = hidden_field_tag 'status', @filters.selected_status

        - if !@filters.hide_expired
          = hidden_field_tag 'hide_expired', false

        = text_field_tag 's', @filters.raw_search_term, placeholder: 'Search opportunities', class: 'text'
        = submit_tag 'Search', class: 'button'

%section.results
  .container
    %table
      %thead
        - if policy(@opportunities).show_ragg?
          %th.ragg
            Editor
        %th.title
          = sortable(:opportunity_filters, 'title', 'Title', 'asc', @filters.sort)
        %th.status
          = sortable(:opportunity_filters, 'status', 'Status', 'asc', @filters.sort)
        %th.provider
          = sortable(:opportunity_filters, 'service_provider_name', 'Service provider', 'asc', @filters.sort)
        %th.enquiries
          = sortable(:opportunity_filters, 'enquiries_count', 'Enquiries received', 'desc', @filters.sort)
        %th.created
          = sortable(:opportunity_filters, 'created_at', 'Created date', 'desc', @filters.sort)
        %th.published
          = sortable(:opportunity_filters, 'first_published_at', 'First published', 'desc', @filters.sort)
        %th.language
          =sortable(:opportunity_filters, 'original_language', 'Original language', 'desc', @filters.sort)
        %th.source
          =sortable(:opportunity_filters, 'source', 'Source', 'asc', @filters.sort)
        %th.feed
          =sortable(:opportunity_filters, 'tender_source', 'Feed', 'asc', @filters.sort)
        %th.response
          = sortable(:opportunity_filters, 'response_due_on', 'Expiry date', 'asc', @filters.sort)

      %tbody
        - @opportunities.each do |opportunity|
          %tr
            - if policy(@opportunities).show_ragg?
              %td{ class: "ragg ragg-#{opportunity.ragg}" }
                %span The triage rating is #{opportunity.ragg}

            %td.title
              - opportunity_link_text = opportunity.title.present? ? opportunity.title : '(no title)'
              = link_to opportunity_link_text, admin_opportunity_path(opportunity)
              - if opportunity.expired?
                %small.expired (expired)

            %td.status
              = opportunity_status_link(opportunity.status)
            %td.provider
              = opportunity.service_provider&.name
            %td.enquiries
              = opportunity.enquiries.size
            %td.created
              = opportunity.created_at.to_s(:admin_short_date)
              %br
              %small= opportunity.created_at.to_s(:admin_short_time)
            %td.published
              = opportunity.first_published_at&.to_s(:admin_short_date)
              %br
              %small= opportunity.first_published_at&.to_s(:admin_short_time)
            %td.language
              = opportunity.original_language
            %td.source
              = opportunity.source
            %td.feed
              = opportunity.tender_source
            %td.response
              = opportunity.response_due_on.to_s(:admin_date)

    = render partial: "components/pagination", locals: { items: @opportunities }

