.intro
  %h1= content['title_new']
  %p.mandatory= content['mandatory']

.process
  = render  partial: 'form', locals: { opportunity: @opportunity, content: content }

.container
  %h2= content['help_title']
  = link_to content['help_link'], '/admin/help/how-to-write-an-export-opportunity/overview'
