- enquiries_count = 0
- page = PagePresenter.new(content)
- opp = AdminOpportunityPresenter.new(self, @opportunity, content)
- content_for :action_specific_head  do
  = stylesheet_link_tag 'transformation_admin/pages/opportunity_show'
  = javascript_include_tag 'transformation_admin/dit.page.opportunity_show'


%section.intro
  .container
    = link_to "Back", filtered_admin_opportunities_path, class: 'back'

    %h1= opp.title_with_country
    - if @opportunity.expired?
      %p.expired= content['message_expired']

    %p= page.content_with_inclusion 'created_information', [opp.author, opp.formatted_date('created_at')]
    .status
      %p
        = content['title_status']
        %span.state= opportunity_status_link(@opportunity.status)

      = opp.edit_button
      = opp.publishing_button
      = opp.trash_button
      = opp.draft_button
      = opp.pending_button


%section.details
  .container
    %h2= content['group_2_title']
    %dl
      %dt= page._content('fields.title.label')
      %dd= @opportunity.title

      %dt= page._content('fields.teaser.label')
      %dd= @opportunity.teaser

      %dt= page._content('fields.description.label')
      %dd= present_html_or_formatted_text(@opportunity.description).html_safe

      %dt= page._content('fields.sign_off.label')
      %dd.sign-off
        - opp.sign_off_content(@opportunity.service_provider).each_with_index do |line, index|
          = content_tag("p", line, class: "sign-off-#{index}")

      %dt= page._content('fields.values.question')
      %dd= opp.put(opp.value, '-')

      %dt= page._content('fields.countries.label')
      %dd= opp.put(@opportunity.countries.map(&:name).join(', '), '-')

      %dt= page._content('fields.sector_ids.label')
      %dd= opp.put(@opportunity.sectors.map(&:name).join(', '), '-')

      %dt= page._content('fields.opportunity_cpvs.label')
      %dd
        - if opp.cpvs.present?
          %ul
            - opp.cpvs.each do |cpv|
              %li= cpv.industry_id
        - else
          = 'none'

      %dt= page._content('fields.types.question')
      %dd= opp.put(@opportunity.types.map(&:name).join(', '), '-')

      - if @opportunity.supplier_preferences
        %dt= page._content('fields.supplier_preferences.question')
        %dd= opp.supplier_preferences

      %dt= page._content('fields.response_due_on.label')
      %dd= @opportunity.response_due_on.to_s(:admin_date) if @opportunity.response_due_on

      %dt= page._content('fields.service_provider_id.label')
      %dd= opp.put(@opportunity.service_provider.try(:name), '-')

      - if @opportunity.target_url.present?
        %dt= page._content('fields.target_url.label')
        %dd= present_html_or_formatted_text(@opportunity.target_url).html_safe

      %dt= page._content('fields.contacts.label')
      %dd= @opportunity.contacts.map { |contact| "#{contact.name} <#{contact.email}>" }.join(', ')

      %dt= page._content('fields.ragg.question')
      %dd.ragg= opp.put(@opportunity.ragg, '-')

      -if @opportunity.tender_url.present?
        %dt Third-party (original) link
        %dd= link_to @opportunity.tender_url, @opportunity.tender_url.html_safe, target: "_blank"

      %dt Updated at
      %dd= @opportunity.updated_at.to_s(:admin_datetime)

      %dt First published at
      %dd= @opportunity.first_published_at&.to_s(:admin_datetime)

      -# TODO: Potential to remove this as may no longer be requird.
      - if @opportunity.request_type
        %dt Buyer is looking for
        %dd= @opportunity.request_type

      -# TODO: Potential to remove this as may no longer be requird.
      - if @opportunity.tender
        %dt Is a tender
        %dd= @opportunity.tender

= render 'history'

%section.checks
  .container
    %h2 Automatic opportunity checks

    -# Quality checks
    - if @opportunity.opportunity_checks.size == 0
      %p We haven't quality checked this opportunity yet.

    - else
      - @opportunity.opportunity_checks.each do |check|
        .check
          %dl.score
            %dt.created Quality checked
            %dd.created= check.created_at

            %dt Score
            %dd= opp.put(check.score)

            %dt Offensive term
            %dd= opp.put(check.offensive_term)

            %dt Suggested term
            %dd= opp.put(check.suggested_term)

            %dt Error Id
            %dd= opp.put(check.error_id)

          - if check.offset
            %p.text= page.highlight_words(check.submitted_text, [check.offensive_term])

          - else
            %p.text= check.submitted_text.truncate(160, omission: '...')

    -# Sensitivity checks
    - if @opportunity.opportunity_sensitivity_checks.size == 0
      %p We haven't sensitivity checked this opportunity yet.

    - else
      - @opportunity.opportunity_sensitivity_checks.each_with_index do |check, index|
        .check
          %dl
            %dt.created Sensitivity checked
            %dd.created= check.created_at

            %dt Review Recommended?
            %dd= check.review_recommended

            %dt Sexually explicit or adult
            %dd= number_to_percentage(check.category1_score*100, precision: 2)

            %dt Sexually suggestive or mature
            %dd= number_to_percentage(check.category2_score*100, precision: 2)

            %dt Offensive
            %dd= number_to_percentage(check.category3_score*100, precision: 2)

          - terms = []
          - if check&.opportunity_sensitivity_term_checks.size > 0
            %p.bst-label{ id: "bst-label-#{index}" }  Matched BST (Business Sensitive Terms)
            %ul{ aria: { labelledby: "bst-label-#{index}" } }
              - check&.opportunity_sensitivity_term_checks.each do |term_check|
                - terms.push term_check.term
                %li
                  -#%span.list= "List ID: #{term_check.list_id}"
                  %span.list= "#{term_check&.list_id == 0 ? 'Azure internal list' : 'DIT list'}:"
                  %span.term= term_check.term

          - if check.review_recommended
            %p.text= page.highlight_words(check.submitted_text, terms)
          - else
            %p.text= check.submitted_text.truncate(160, omission: '...(continued)')


%section.enquiries
  .container
    %h2 Enquiries
    - if @opportunity.enquiries.size == 0
      %p No enquiries have been made about this opportunity.

    - else
      - if @show_enquiries
        - @opportunity.enquiries.each do |enquiry|
          .enquiry-company-details
            %p= enquiry.company_name
            %dl
              %dt First name
              %dd= enquiry.first_name

              %dt Last name
              %dd= enquiry.last_name

              %dt Email address
              %dd= enquiry.email

              %dt Company Address
              %dd= enquiry.company_address

              %dt Company Telephone
              %dd= enquiry.company_telephone

              %dt Companies House listing
              - enquiries_count = enquiries_count + 1
              %dd
                - if enquiries_count <= @enquiries_cutoff
                  - @companies_house_url = companies_house_url(enquiry.company_house_number)
                  - if @companies_house_url then
                    =link_to enquiry.company_name, @companies_house_url, target: :blank, :rel => 'noopener noreferrer'
                  - else
                    ='Not supplied'
                - else

                  -# Rate CH exceeded
                  %span.rate_ch_exceeded= enquiry.company_house_number

              %dt Company Postcode
              %dd= enquiry.company_postcode
              %tr
                %th URL
                %td= enquiry.company_url

              %dt Business Profile
              %dd
                - if enquiries_count <= @enquiries_cutoff
                  - @trade_profile_url = trade_profile(enquiry.company_house_number)
                  - if @trade_profile_url then
                    =link_to enquiry.company_name, @trade_profile_url, target: :blank
                  - else
                    ='Not supplied'
                - else

                  -# Rate Trade Profile Exceeded
                  =link_to 'Please check individual enquiry here', admin_enquiry_url(enquiry.id), class: 'rate_trade_profile_exceeded'

              %dt Existing exporter?
              %dd= enquiry.existing_exporter

              %dt Company Sector
              %dd= enquiry.company_sector

              %dt Company Explanation
              %dd= enquiry.company_explanation

              %dt Data Protection
              %dd= enquiry.data_protection ? 'Yes' : 'No'


.container
  = link_to "Back", filtered_admin_opportunities_path, class: 'back'
