- enquiries_count = 0
- opp = OpportunityPresenter.new(self, @opportunity)
- content_for :action_specific_head  do
  = stylesheet_link_tag 'transformation_admin/pages/opportunity_show'
  = javascript_include_tag 'transformation_admin/dit.page.opportunity'


%section.intro
  .container
    = link_to "Back", filtered_admin_opportunities_path, class: 'back'

    %h1
      = @opportunity.title
      - if @opportunity.expired?
        This opportunity has expired

    %p
      Created by
      = @opportunity.author.name
      on
      = opp.formatted_date('created_at')

    .status
      %h2 Status
      %p
        %span.state= opportunity_status_link(@opportunity.status)
        %span.verbose :
        %span.explanation
          This opportunity will be reviewed soon. There are 23 opportunities before this one

      = opp.edit_button
      = opp.publishing_button
      = opp.trash_button
      = opp.draft_button
      = opp.pending_button


%section.details
  .container
    %h2 Opportunity details
    %dl
      %dt Title
      %dd= @opportunity.title

      %dt Teaser
      %dd= @opportunity.teaser

      - if @opportunity.request_type
        %dt Buyer is looking for
        %dd= @opportunity.request_type

      - if @opportunity.tender
        %dt Is a tender
        %dd= @opportunity.tender

      %dt Slug
      %dt= @opportunity.slug

      %dt Created at
      %dd= @opportunity.created_at.to_s(:admin_datetime)

      %dt Updated at
      %dd= @opportunity.updated_at.to_s(:admin_datetime)

      %dt First published at
      %dd= @opportunity.first_published_at&.to_s(:admin_datetime)

      %dt Countries
      %dd= @opportunity.countries.map(&:name).join(', ')

      %dt Sectors
      %dd= @opportunity.sectors.map(&:name).join(', ')

      %dt Types
      %dd= @opportunity.types.map(&:name).join(', ')

      - if @opportunity.supplier_preferences
        %dt Buyer is happy to talk to
        %dd= @opportunity.supplier_preferences.map(&:name).join(', ')

      %dt Values
      %dd= @opportunity.values.map(&:name).join(', ')

      %dt Expiry date
      %dd= @opportunity.response_due_on.to_s(:admin_date) if @opportunity.response_due_on

      %dt Description
      %dd= present_html_or_formatted_text(@opportunity.description).html_safe

      - if @opportunity.target_url.present?
        %dt External opportunity link
        %dd= present_html_or_formatted_text(@opportunity.target_url).html_safe

      %dt Contacts
      %dd= @opportunity.contacts.map { |contact| "#{contact.name} <#{contact.email}>" }.join(', ')

      %dt Service provider
      %dd= @opportunity.service_provider.try(:name)

      -if @opportunity.tender_url.present?
        %dt Third-party (original) link
        %dd= link_to @opportunity.tender_url, @opportunity.tender_url.html_safe, target: "_blank"

      %dt RAGG
      %dd{:class => 'ragg-cell'}=@opportunity.ragg

      %dt Author
      %dd= @opportunity.author.name


= render 'history'


%h2 Automatic opportunity checks
- if @opportunity.opportunity_checks.size == 0
  %p We haven't quality checked this opportunity yet.

- else
  - @opportunity.opportunity_checks.each do |check|
    - if check.offset
      =check.submitted_text[0..check.offset-2]
      %span.error
        =check.submitted_text[check.offset-1..check.offset+check.length]
      =check.submitted_text[check.offset+check.length+1..check.submitted_text.length]

    - else
      =check.submitted_text

    %dl.score
      %dt Score
      %dd= check.score

      %dt Offensive Term
      %dd= check.offensive_term

      %dt Suggested Term
      %dd= check.suggested_term

      %dt Error Id
      %dd= check.error_id

- if @opportunity.opportunity_sensitivity_checks.size == 0
  %p We haven't sensitivity checked this opportunity yet.

- else
  - @opportunity.opportunity_sensitivity_checks.each do |check|
    =check.submitted_text.truncate(160, omission: '...(continued)')
    %dl
      %dt Review Recommended?
      %dd= check.review_recommended

      %dt sexually explicit or adult
      %dd= number_to_percentage(check.category1_score*100, precision: 2)

      %dt sexually suggestive or mature
      %dd= number_to_percentage(check.category2_score*100, precision: 2)

      %dt offensive
      %dd= number_to_percentage(check.category3_score*100, precision: 2)

    - if check&.opportunity_sensitivity_term_checks.size > 0
      %p BST (Business Sensitive Terms) Matched:
      - check&.opportunity_sensitivity_term_checks.each do |term_check|
        %dl.bst
          %dt BST
          %dd= term_check.term

          %dt ListId
          %dd= "#{term_check.list_id} (#{term_check&.list_id == 0 ? 'Azure internal list' : 'DIT list'})"

%h2 Enquiries
- if @opportunity.enquiries.size == 0
  %p No enquiries have been made about this opportunity.

- else
  - if @show_enquiries
    - @opportunity.enquiries.each do |enquiry|
      %p =enquiry.company_name
      %dl
        %dt First name
        %dd= enquiry.first_name

        %dt Last name
        %dd= enquiry.last_name

        %dt Email address
        %dd= enquiry.email

        %dt Company Address
        %dd= enquiry.company_address

        %dt Company Telephone
        %dd= enquiry.company_telephone

        %dt Companies House listing
        - enquiries_count = enquiries_count + 1
        %dd
          - if enquiries_count <= @enquiries_cutoff
            - @companies_house_url = companies_house_url(enquiry.company_house_number)
            - if @companies_house_url then
              =link_to enquiry.company_name, @companies_house_url, target: :blank, :rel => 'noopener noreferrer'
            - else
              ='Not supplied'
          - else
            -# Rate CH exceeded
            =enquiry.company_house_number

        %dt Company Postcode
        %dd= enquiry.company_postcode
        %tr
          %th URL
          %td= enquiry.company_url

        %dt Business Profile
        %dd
          - if enquiries_count <= @enquiries_cutoff
            - @trade_profile_url = trade_profile(enquiry.company_house_number)
            - if @trade_profile_url then
              =link_to enquiry.company_name, @trade_profile_url, target: :blank
            - else
              ='Not supplied'
          - else
            -# Rate Trade Profile Exceeded
            =link_to 'Please check individual enquiry here', admin_enquiry_url(enquiry.id)

        %dt Existing exporter?
        %dd= enquiry.existing_exporter

        %dt Company Sector
        %dd= enquiry.company_sector

        %dt Company Explanation
        %dd= enquiry.company_explanation

        %dt Data Protection
        %dd= enquiry.data_protection ? 'Yes' : 'No'



= link_to "Back", filtered_admin_opportunities_path, class: 'back'
