- if params[:reply_sent]
  %div.alert.flash.info
    %h2.margin-top-0 Reply sent successfully
    %p
      Remember to record a new 
      %a{:href => "https://crm.cdms.ukti.gov.uk/"} CDMS Service delivery:
      %strong
        EIG Website, Export Opps
    %p
      %a{:href => @next_enquiry[:url]} Reply to next Enquiry

%h1.heading-xlarge Enquiries

.admin__filter-panel
  Filter by status:
  %ul
    %li{class: (@filters.selected_status.nil? ? 'admin__filter-selected' : '')}
      = link_to('All', admin_enquiries_path())
    %li{class: (@filters.selected_status == 'replied' ? 'admin__filter-selected' : '')}
      = link_to('Replied', admin_enquiries_url(status: 'replied'))
    %li{class: (@filters.selected_status == 'not_replied' ? 'admin__filter-selected' : '')}
      = link_to('To reply', admin_enquiries_path(status: 'not_replied'))

%div
  = form_tag admin_enquiries_path(format: :csv), method: :get, format: :csv do
    = render :partial => "errors/form_validation.html"
    = label_tag :created_at_from, 'From'
    = select_date 1.day.ago, prefix: :created_at_from, class: 'form-control', id: 'created_at_from'
    = label_tag :created_at_to, 'To'
    = select_date Date.today, prefix: :created_at_to, class: 'form-control', id: 'created_at_to'
    = submit_tag 'Download as CSV', class: 'button'

%table
  %thead
    %th{width: '35%'} Company
    %th{width: '35%'} Opportunity
    %th.numeric{width: '10%'} Applied On
    %th{status: '10%'} Status
    -#%th{width: '10%'} Replied
  %tbody
    - @enquiries.each do |enquiry|
      %tr
        %td= link_to enquiry.company_name, admin_enquiry_path(enquiry)
        %td= enquiry.opportunity.title
        %td.numeric= enquiry.created_at.to_s(:admin_datetime)
        %td= enquiry.response_status
        -#%td.numeric= (enquiry.enquiry_response.completed_at - enquiry.created_at).to_s(:admin_datetime)
        -#%td= enquiry.enquiry_response ? 'Yes' : 'No'

= paginate @enquiries
