- if params[:reply_sent]
  %div.alert.flash.info
    %h2.margin-top-0 Reply sent successfully
    %p
      Remember to record a new interaction in
      %a{:href => 'https://datahub.trade.gov.uk'} Data Hub:
      %strong
        EIG Website, Export Opps
    %p.margin-top-10 
      - if @next_enquiry
        %a{:href => @next_enquiry[:url], :class => 'button'} Reply to next Enquiry
      - else
        You have no more enquiries to respond to

%h1.heading-xlarge Enquiries

.admin__filter-panel
  Filter by status:
  %ul
    %li{class: (@filters.selected_status.nil? ? 'admin__filter-selected' : '')}
      = link_to('All', admin_enquiries_path())
    %li{class: (@filters.selected_status == 'replied' ? 'admin__filter-selected' : '')}
      = link_to('Replied', admin_enquiries_url(status: 'replied'))
    %li{class: (@filters.selected_status == 'not_replied' ? 'admin__filter-selected' : '')}
      = link_to('To reply', admin_enquiries_path(status: 'not_replied'))

%div
  = form_tag admin_enquiries_path(format: :csv), method: :get, format: :csv do
    = render :partial => "errors/form_validation.html"
    = label_tag :created_at_from, 'From'
    = select_date 1.day.ago, prefix: :created_at_from, class: 'form-control', id: 'created_at_from'
    = label_tag :created_at_to, 'To'
    = select_date Date.today, prefix: :created_at_to, class: 'form-control', id: 'created_at_to'
    = submit_tag 'Download as CSV', class: 'button'

%table
  %thead
    %th{width: '35%'}= sortable(:enquiry_filters, 'company_name', 'Company', 'asc', @filters.sort)
    %th{width: '35%'}= sortable(:enquiry_filters, 'opportunity', 'Opportunity', 'asc', @filters.sort)
    %th.numeric{width: '10%'} Applied On
    %th{status: '10%'} Status
  %tbody
    - @enquiries.each do |enquiry|
      %tr
        %td= link_to enquiry.company_name, admin_enquiry_path(enquiry)
        %td= enquiry.opportunity.title
        %td.numeric= enquiry.created_at.to_s(:admin_datetime)
        %td= enquiry.response_status

= paginate @enquiries
