- form = FormPresenter.new(content, {})

- content_for :action_specific_head  do
  = stylesheet_link_tag 'transformation_admin/pages/enquiries_index'
  = javascript_include_tag 'transformation_admin/dit.page.enquiries_index'

- if params[:reply_sent]
  %div.alert.flash.info
    %h2.margin-top-0 Reply sent successfully
    %p
      Remember to record a new interaction in
      %a{:href => 'https://datahub.trade.gov.uk'} Data Hub.
    %p.margin-top-10 
      - if @next_enquiry
        %a{:href => @next_enquiry[:url], :class => 'button'} Reply to next Enquiry
      - else
        You have no more enquiries to respond to

%section.intro
  .container
    %h1 Enquiries

    .controls
      .filters
        %p
          Filter by status:
          - if @filters.selected_status.nil?
            %span= content['status']['all']
          - else
            - content['status'].each do |name, _|
              - if name.to_s == @filters.selected_status.to_s && name != 'all'
                %span= content['status'][name]

        %ul
          - if !@filters.selected_status.nil?
            %li= link_to('All', admin_enquiries_path())
          - content['status'].each do |name, _|
            - if name.to_s != @filters.selected_status.to_s && name != 'all'
              %li= link_to(content['status'][name], admin_enquiries_url(status: name))

    .search
      = form_tag admin_enquiries_path(format: :csv), method: :get, format: :csv do
        = render :partial => 'forms/input_date_month_year', locals: { input: form.input_date_month_year('created_at_from', 1.day.ago) }
        = render :partial => 'forms/input_date_month_year', locals: { input: form.input_date_month_year('created_at_to', Date.today) }
        = submit_tag 'Generate report', class: 'button'

%section.results
  .container
    %table
      %thead
        %th.enquiry
          = sortable(:enquiry_filters, 'id', 'Enquiry', 'asc', @filters.sort)
        %th.company
          = sortable(:enquiry_filters, 'company_name', 'Company', 'asc', @filters.sort)
        %th.title
          = sortable(:enquiry_filters, 'opportunity', 'Opportunity', 'asc', @filters.sort)
        %th.created
          = sortable(:enquiry_filters, 'created_at', 'Applied On', 'asc', @filters.sort)
        %th.status
          Status
      %tbody
        - @enquiries.each do |enquiry|
          %tr
            %td.enquiry
              = link_to enquiry.id, admin_enquiry_path(enquiry)
            %td.company
              = enquiry.company_name
            %td.title
              = link_to enquiry.opportunity.title, admin_opportunity_path(enquiry.opportunity)
            %td.created
              = enquiry.created_at.to_s(:admin_datetime)
            %td.status
              = enquiry.response_status

    = render partial: "components/pagination", locals: { items: @enquiries }
