%h1.heading-xlarge Enquiries

%div
  = form_tag admin_enquiries_path(format: :csv), method: :get, format: :csv do
    = render :partial => "errors/form_validation.html"
    = label_tag :created_at_from, 'From'
    = select_date 1.day.ago, prefix: :created_at_from, class: 'form-control', id: 'created_at_from'
    = label_tag :created_at_to, 'To'
    = select_date Date.today, prefix: :created_at_to, class: 'form-control', id: 'created_at_to'
    = submit_tag 'Download as CSV', class: 'button'

%table
  %thead
    %th{:width => '35%'} Company
    %th{:width => '35%'} Opportunity
    %th.numeric{:width => '10%'} Applied On
    %th{:width => '10%'} Replied
  %tbody
    - @enquiries.each do |enquiry|
      %tr
        %td= link_to enquiry.company_name, admin_enquiry_path(enquiry)
        %td= enquiry.opportunity.title
        %td.numeric= enquiry.created_at.to_s(:admin_datetime)
        %td= enquiry.enquiry_responses&.exists? ? 'Yes' : 'No'
        %td=link_to "Reply", new_admin_enquiry_response_path(id: enquiry.id), class: 'button button-reply', params: {id: enquiry.id}

= paginate @enquiries
