- page = PagePresenter.new(content)
- content_for :action_specific_head  do
  = stylesheet_link_tag 'transformation_admin/pages/enquiries'


%section.intro
  .container
    = link_to content['link_back'], admin_enquiries_path, class: 'back'

    %h1
      = content['enquiry_title']
      = @enquiry.id


%section.enquiry-details
  .container
    %dl.enquiry

      %dt.opportunity
        = content['enquiry_opportunity']
      %dd.opportunity
        = link_to @enquiry.opportunity.title, admin_opportunity_path(@enquiry.opportunity)

      %dt.company-name
        = content['enquiry_company_name']
      %dd.company-name
        = @enquiry.company_name

      %dt= content['enquiry_first_name']
      %dd= @enquiry.first_name

      %dt= content['enquiry_last_name']
      %dd= @enquiry.last_name

      %dt= content['enquiry_job_title']
      %dd= @enquiry.job_title

      %dt= content['enquiry_email']
      %dd= @enquiry.email

      - if @trade_profile_url then
        %dt= content['enquiry_profile']
        %dd= link_to @enquiry.company_name, @trade_profile_url, target: :blank, :rel => 'noopener noreferrer'

      %dt= content['enquiry_address']
      %dd= @enquiry.company_address

      %dt= content['enquiry_telephone']
      %dd= @enquiry.company_telephone

      %dt= content['enquiry_postcode']
      %dd= @enquiry.company_postcode

      %dt= content['enquiry_ch_listing']
      - if @companies_house_url then
        %dd= link_to @enquiry.company_name, @companies_house_url, target: :blank, :rel => 'noopener noreferrer'
      - else
        %dd= content['enquiry_ch_listing_unknown']

      %dt= content['enquiry_website']
      %dd= @enquiry.company_url

      %dt= content['enquiry_trading_address']
      %dd= @enquiry.trading_address

      %dt= content['enquiry_trading_address_postcode']
      %dd= @enquiry.trading_address_postcode

      %dt= content['enquiry_exporter']
      %dd= @enquiry.existing_exporter

      %dt= content['enquiry_sector']
      %dd= @enquiry.company_sector

      %dt= content['enquiry_explanation']
      %dd= @enquiry.company_explanation

      %dt= content['enquiry_data_protection']
      %dd= @enquiry.data_protection ? 'Yes' : 'No'

%section.response-details
  .container
    - if !@enquiry_response || !@enquiry_response['completed_at']
      = link_to content['response_reply_link'], new_admin_enquiry_response_path(id: @enquiry.id) + '#reply', class: 'button reply', params: {id: @enquiry.id}

    - if @enquiry_response
      .comment
        %h2
          - if @enquiry_response['completed_at']
            = page.content_with_inclusion 'response_title_complete', [@enquiry_response.editor.name]
          - else
            = content['response_title_pending']

        = present_html_or_formatted_text(@enquiry_response.email_body)

      %dl.response
        %dt= content['response_email']
        %dd= @enquiry_response.editor.email

        %dt= content['response_date']
        %dd= @enquiry_response.created_at.to_s + " ( #{@enquiry.response_status} )"

        %dt= content['response_type']
        %dd= @enquiry_response.response_type_to_human

        %dt= content['response_documents']
        %dd= @enquiry_response.documents_list

      = link_to content['link_back'], admin_enquiries_path, class: 'back'
