= link_to "Back", admin_enquiries_path, class: 'link-back'

%h1.heading-xlarge= @enquiry.company_name

%table.horizontal
  %tr
    %th{:scope => 'row'} Opportunity
    %td= link_to @enquiry.opportunity.title, admin_opportunity_path(@enquiry.opportunity)
  %tr
    %th{:scope => 'row'} First name
    %td= @enquiry.first_name
  %tr
    %th{:scope => 'row'} Last name
    %td= @enquiry.last_name
  %tr
    %th{:scope => 'row'} Email address
    %td= @enquiry.email
  - if @trade_profile_url then
    %tr
      %th{:scope => 'row'} Applicant trade profile
      %td= link_to @enquiry.company_name, @trade_profile_url, target: :blank, :rel => 'noopener noreferrer'
  %tr
    %th{:scope => 'row'} Company Address
    %td= @enquiry.company_address
  %tr
    %th{:scope => 'row'} Company Telephone
    %td= @enquiry.company_telephone
  %tr
    %th{:scope => 'row'} Companies House number
    %td= @enquiry.company_house_number
  %tr
    %th{:scope => 'row'} Company Postcode
    %td= @enquiry.company_postcode
  %tr
    %th{:scope => 'row'} URL
    %td= @enquiry.company_url
  %tr
    %th{:scope => 'row'} Existing exporter?
    %td= @enquiry.existing_exporter
  %tr
    %th{:scope => 'row'} Company Sector
    %td= @enquiry.company_sector
  %tr
    %th{:scope => 'row'} Company Explanation
    %td= @enquiry.company_explanation
  %tr
    %th{:scope => 'row'} Data Protection
    %td= @enquiry.data_protection ? 'Yes' : 'No'

.button-bar
  .grid-row
    .column-one-half
      = link_to "Back", admin_enquiries_path, class: 'link-back'
    - if !@enquiry_response
      .column-one-half
        = link_to "Reply", new_admin_enquiry_response_path(id: @enquiry.id), class: 'button button-reply pull-right', params: {id: @enquiry.id}

- if @enquiry_response
  %hr
  %div.grid-row
  %div.column-two-thirds
    %div.comment
      %h2.heading-small This enquiry was responded to by #{@enquiry_response.editor.name}
      %div.comment_body
        = @enquiry_response.email_body.html_safe

  %table.horizontal
    %tr
      %th{:scope => 'row'} Action Editor Email
      %td= @enquiry_response.editor.email
    %tr
      %th{:scope => 'row'} Sent Time
      %td= @enquiry_response.created_at