= link_to "Back", admin_enquiries_path, class: 'link-back'

%h1.heading-xlarge= @enquiry.company_name

- if @trade_profile_url then
  %h2.heading-large= link_to 'Trade Profile', @trade_profile_url, target: :blank

%table.horizontal
  %tr
    %th{:scope => 'row'} Opportunity
    %td= link_to @enquiry.opportunity.title, admin_opportunity_path(@enquiry.opportunity)
  %tr
    %th{:scope => 'row'} First name
    %td= @enquiry.first_name
  %tr
    %th{:scope => 'row'} Last name
    %td= @enquiry.last_name
  %tr
    %th{:scope => 'row'} Email address
    %td= @enquiry.email
  %tr
    %th{:scope => 'row'} Company Address
    %td= @enquiry.company_address
  %tr
    %th{:scope => 'row'} Company Telephone
    %td= @enquiry.company_telephone
  %tr
    %th{:scope => 'row'} Companies House number
    %td= @enquiry.company_house_number
  %tr
    %th{:scope => 'row'} Company Postcode
    %td= @enquiry.company_postcode
  %tr
    %th{:scope => 'row'} URL
    %td= @enquiry.company_url
  %tr
    %th{:scope => 'row'} Existing exporter?
    %td= @enquiry.existing_exporter
  %tr
    %th{:scope => 'row'} Company Sector
    %td= @enquiry.company_sector
  %tr
    %th{:scope => 'row'} Company Explanation
    %td= @enquiry.company_explanation
  %tr
    %th{:scope => 'row'} Data Protection
    %td= @enquiry.data_protection ? 'Yes' : 'No'

.button-bar
  .grid-row
    .column-one-half
      = link_to "Back", admin_enquiries_path, class: 'link-back'
    .column-one-half
      - if @enquiry_response
        %h1.heading-xlarge Responded by
        %h1.heading-xlarge= @enquiry_response.editor.name
        %table.horizontal
          %tr
            %th{:scope => 'row'} Response content
            %td= @enquiry_response.email_body.html_safe
          %tr
            %th{:scope => 'row'} Action Editor Email
            %td= @enquiry_response.editor.email
          %tr
            %th{:scope => 'row'} Sent Time
            %td= @enquiry_response.created_at
      - else
        = link_to "Reply", new_admin_enquiry_response_path(id: @enquiry.id), class: 'button button-reply pull-right', params: {id: @enquiry.id}


