- page = PagePresenter.new(content)

.container
  = render partial: "components/breadcrumbs", locals: { breadcrumbs: page.breadcrumbs }
  %h1.verbose= page.content["title"]

  .confirmation-notice
    %p.notice= page.content["confirmation"]
    %p.message= page.content_with_inclusion "message", [current_user.email]

  .alert-panel
    %h2= page.content["alert_summary_title"]
    %p= page.content["alert_summary_message"]

    - if subscriptions != nil && subscriptions.size > 0
      %ul.subscriptions
        - subscriptions.each do |sub|
          %li= sub.search_term
          %li= sub.title

    = link_to page.content["alert_summary_link"], dashboard_path(anchor: 'alerts', target: :alerts)

  %p= page.content_with_inclusion("advice", [link_to("Profile", "/dashboard")]).html_safe
  %p.back
    =link_to page.content["back"], request.referrer, :class=>"button"
