- page = PagePresenter.new(content)

.container
  = render partial: "components/breadcrumbs", locals: { breadcrumbs: page.breadcrumbs }

  %h1.verbose= content["title"]

  .confirmation-notice
    %p.notice= content["confirmation"]
    %p.message
      = link_to content["manage_alerts"], dashboard_path(anchor: 'alerts', target: :alerts), class: "button"

  = link_to content["next"], root_path, class: "button"
