%h1.heading-xlarge Log in

.grid-row
  .column-one-half
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|

      .form-group
        = f.label :email, :class => 'form-label'
        = f.email_field :email, autofocus: true, :class => 'form-control'

      %p
        %strong
          On 6th December, all passwords were reset.
        If you haven't changed your password since then, you will need to
        = succeed "." do
          = link_to 'reset your password', new_editor_password_path

      .form-group
        = f.label :password, :class => 'form-label'
        = f.password_field :password, autocomplete: "off", :class => 'form-control'

      - if devise_mapping.rememberable?
        .form-group
          = f.check_box :remember_me
          = f.label :remember_me

      .form-group
        = f.submit "Log in", class: 'button'

    = render "devise/shared/links"
