- page = PagePresenter.new(content)
- page.add_breadcrumb_current(content['response_breadcrumb'])
- content_for :action_specific_head  do
  = stylesheet_link_tag 'transformation/pages/form'


%section.enquiry_feedback_form
  .container
    = render partial: 'components/breadcrumbs', locals: { breadcrumbs: page.breadcrumbs }

    %h1= content['response_title']
    %p= content['response_instruction']
    = render partial: 'form', locals: { content: content, enquiry_feedback: @enquiry_feedback }
