- form = FormPresenter.new(@content, {})
- content_for :action_specific_head  do
  = stylesheet_link_tag 'transformation_admin/pages/editors'

%section.intro
  .container
    = link_to @content['button_back'], admin_editors_path, class: 'back'

    %h1= @content['title_new']


%section.process
  .container
    = form_for(resource, as: resource_name, url: editor_registration_path(resource), builder: TemplateFormBuilder) do |f|
      = devise_error_messages!

      = f.input_text :name, form.input_text('name')
      = f.input_text :email, form.input_text('email')
      = f.input_select :role, form.input_select('role', @roles), { default: @editor.role }
      = f.input_select :service_provider_id, form.input_select('service_provider_id', @service_providers), { default: @editor.service_provider&.id, prompt: '' }
      = f.submit @content['button_create'], :class => 'button'
