- form = FormPresenter.new(content, {})
- content_for :action_specific_head  do
  = stylesheet_link_tag 'transformation_admin/pages/reports'
  = javascript_include_tag 'transformation_admin/dit.page.reports'

%section.intro
  .container
    %h1 Reports

%section.monthly-outcome
  .container
    - if current_editor && !current_editor.uploader?
      .report
        = form_tag admin_reports_path, method: :get do
          %legend Monthly Outcomes against Targets by Country
          = submit_tag content['outcomes_button'], class: 'button'

%section.impact-email
  .container
    - if current_editor && current_editor.administrator?
      = form_tag 'reports/impact_email', method: :get do
        %legend Impact Email Report
        = render partial: 'forms/input_date_month_year', locals: { input: form.input_date_month_year('impact_stats_date', Date.today-7.days) }
        = submit_tag content['impact_report_button'], class: 'button'
