%h1.heading-xlarge Reports

Individual Country results:
= @result

CEN network results:
= @cen_result

NBN network results:
= @nbn_result

%div.searchPanel
  = form_tag admin_reports_path, method: :get do
    %h1.heading-medium Monthly by country VS target report

    %div.form-group
    = submit_tag 'Generate', class: 'button'
