- page = PagePresenter.new(content)
- form = FormPresenter.new(content, {})
- content_for :action_specific_head  do
  = stylesheet_link_tag 'transformation_admin/pages/reports'


%section.intro
  .container
    %h1= content['impact_report_title']

    .controls

      .stats
        %p#stats-label
          = page.content_with_inclusion('impact_report_stats_label', [@stats.start_date.to_s(:admin_short_date), @stats.end_date.to_s(:admin_short_date)])

        %ul{ aria: { labelledby: 'stats-label' } }
          %li.sent
            %span.number
              = number_with_delimiter(@impact_stats.sent)
            = content['impact_report_sent']

          %li.responses
            %span.number
              = number_with_delimiter(@impact_stats.responded)
            = content['impact_report_responses']

          %li.feedback
            %span.number
              = number_with_delimiter(@impact_stats.responded_with_feedback)
            = content['impact_report_feedback']

          %li.won
            %span.number
              = number_with_delimiter(@impact_stats.option_0)
            = content['impact_report_won']

          %li.not-won
            %span.number
              = number_with_delimiter(@impact_stats.option_1)
            = content['impact_report_not_won']

          %li.unknown
            %span.number
              = number_with_delimiter(@impact_stats.option_2)
            = content['impact_report_unknown']

          %li.private
            %span.number
              = number_with_delimiter(@impact_stats.option_3)
            = content['impact_report_private']

          %li.not-contacted
            %span.number
              = number_with_delimiter(@impact_stats.option_4)
            = content['impact_report_no_contact']
