%p Impact email report
- if ENV['IMPACT_EMAIL_CHANGE_FREQUENCY']
  %p.flash.ptu-announcement{ :style => "font-weight:normal;" }
    From
    =ENV['IMPACT_EMAIL_CHANGE_FREQUENCY']
    impact emails are sent to UK companies 3 months after they apply for an opportunity

%section
  .grid-row
    .column-one-quarter
      %div.data.data-panel
        %span.data-item.bold-xxlarge
          = number_with_delimiter(@impact_stats.sent)
        %span.data-item.bold-xsmall sent
    .column-one-quarter
      %div.data.data-panel
        %span.data-item.bold-xxlarge
          = number_with_delimiter(@impact_stats.responded)
        %span.data-item.bold-xsmall responses
    .column-one-quarter
      %div.data.data-panel
        %span.data-item.bold-xxlarge
          = number_with_delimiter(@impact_stats.responded_with_feedback)
        %span.data-item.bold-xsmall responses with feedback
  .grid-row
    .column-one-quarter
      %div.data
        %span.data-item.bold-xxlarge
          = number_with_delimiter(@impact_stats.option_0)
        %span.data-item.bold-xsmall won the business
    .column-one-quarter
      %div.data
        %span.data-item.bold-xxlarge
          = number_with_delimiter(@impact_stats.option_1)
        %span.data-item.bold-xsmall didn't win the business
    .column-one-quarter
      %div.data
        %span.data-item.bold-xxlarge
          = number_with_delimiter(@impact_stats.option_2)
        %span.data-item.bold-xsmall was contacted, don't know outcome
    .column-one-quarter
      %div.data
        %span.data-item.bold-xxlarge
          = number_with_delimiter(@impact_stats.option_3)
        %span.data-item.bold-xsmall don't know / don't want to say
    .column-one-quarter
      %div.data
        %span.data-item.bold-xxlarge
          = number_with_delimiter(@impact_stats.option_4)
        %span.data-item.bold-xsmall wasn't contacted
