%fieldset.field.date-month-year{ id: input[:id] }
  %legend
    = input[:label]

  - unless input[:description].nil? or input[:description].empty?
    %p.description{ :id=> input[:description_id] }
      = input[:description]

  %label.day
    %span Day
    = select_day 1.day.ago, prefix: input[:name]

  %label.month
    %span Month
    = select_month input[:date], prefix: input[:name], use_two_digit_numbers: true

  %label.year
    %span Year
    = select_year input[:date], prefix: input[:name]
