-if group[:checkboxes].length > 0
  %fieldset{ class: "field-group checkbox-group field-#{group[:name]}" }
    %legend.group
      = group[:question]

    - if group[:description]
      %p.description
        = group[:description]

    - group[:checkboxes].each_with_index do |checkbox, index|
      - checkbox[:id] = "field-#{checkbox[:name]}-#{index}" unless checkbox[:id]
      - checkbox[:label][:field_id] = checkbox[:id]
      = render partial: "forms/input_checkbox", locals: { input: checkbox }
    
    = content = nil if local_assigns[:content].nil?
    - if content
      = submit_tag content['submit_button'], class: 'button'
