%div.filters.js-filters.filters-open
  = form_tag opportunities_path, class: 'search-form', id: 'search-form', method: :get do
    = hidden_field_tag :isSearchAndFilter, true
    = hidden_field_tag :filterOpen, params[:filterOpen], id: 'filterOpen'
    %div.filters__panel
      %div.filters__groupA
        %div.filters__item
          %label{:for => "searchinput", :class=>"filters__label"} What product or service are you selling?
          = search_field_tag :s, params[:s], :placeholder => 'Product or service keyword', class: 'filters__field', id: 'searchinput', autocomplete: 'off'
        %div.filters__item
          %label{:for => "countries", :class=>"filters__label"}
            Where would you like to sell to?
            %span.brackets (optional)
          %select#countries.select-custom.select-custom--has-nested.select2-hidden-accessible{"aria-hidden" => "true", :autocomplete => "off", "data-placeholder" => "Filter by region or country", :multiple => "", :name => "countries[]", :tabindex => "-1"}
            %optgroup{:label => "Regions"}
              %option{:value => "region-EU"} Europe
              %option{:value => "region-Asia"} Asia
            %optgroup{:label => "Countries"}
              %option{:value => "afghanistan"} Afghanistan
              %option{:value => "albania"} Albania
              %option{:value => "algeria"} Algeria
              %option{:value => "angola"} Angola

      %div.filters__groupB
        %div.filters__item
          %label{:for => "sectors", :class=>"filters__label"} What sectors are relevant to you?
          %select.select-custom(data-placeholder='Filter by sector'){:multiple => 'true', :id => 'sectors', :name => 'sectors[]', autocomplete: 'off'}
            = options_for_select(@sectors.map { |sector| [sector['name'], sector['slug']] },
            :selected => params[:sectors])
        %div.filters__item
          %label{:for => "values", :class=>"filters__label"} What value contract are you interested in?
          %select.select-custom(data-placeholder='Filter by value'){:multiple => true, :id => 'values', :name => 'values[]', autocomplete: 'off'}
            = options_for_select(@values.map { |value| [value['name'], value['slug']] },
            :selected => params[:values])
        %div.filters__item
          %label{:for => "type", :class=>"filters__label"} What types of contract are you interested in?
          %select.select-custom(data-placeholder='Filter by type'){:multiple => true, :id => 'type', :name => 'types[]', autocomplete: 'off'}
            = options_for_select(@types.map { |type| [type['name'], type['slug']] },
            :selected => params[:types])
      %div.filters__item.filters__item__last
        = submit_tag 'Find opportunities', class: 'button button-red filters__searchbutton'



