%ul.navigation.opportunities-list#opportunities-list
  - list.each do | opp |
    = cache opp do
      - opportunity = OpportunityPresenter.new(self, opp)
      %li{:class=>"#{opportunity.css_class_name}"}
        = link_to opportunity.title_with_country, opportunity_path(opp), {:class => "title" }

        %span.text
          = opportunity.teaser

        - if opportunity.source('volume_opps')
          = render partial: "partials/open_opps_link"

        %span.published>
          Published:
          = opportunity.published_date
        %span.separator ,
        %span.expires
          Closing date:
          = opportunity.expires


