%ul.navigation.opportunities-list#opportunities-list
  - list.each do | opp |
    = cache opp do
      - opportunity = OpportunityPresenter.new(self, opp)
      %li{:class=>"#{opportunity.css_class_name}"}
        %link(rel="canonical" class="title" href='#{opportunity_path(opp)}') #{opportunity.title_with_country}

        %span.text
          = opportunity.teaser

        - if opportunity.source('volume_opps')
          = render partial: "partials/open_opps_link"

        %span.published>
          Published:
          = opportunity.published_date
        %span.separator ,
        %span.expires
          Closing date:
          = opportunity.expires


