%dl.opportunities-list
  - list.found.each do |opportunity|
    %dt{:class=>"#{opportunity.source}"}
      = link_to list.title_with_country(opportunity), opportunity_path(opportunity)

    %dd{class: "#{opportunity.source}"}
      %span.text
        = opportunity.teaser

      - if opportunity.source.eql? 'volume_opps'
        %span.source
          Provided by
          = image_tag "logos/openopps_logo.png", :alt=>"Open Opps"

      .actions
        %span.expires
          Closing date:
          = opportunity.response_due_on.strftime('%d %B %Y')
        -#= link_to "Save for later", "TODO", :class=>"save"
