%ul.navigation.opportunities-list
  - list.each do | opp |
    - opportunity = OpportunityPresenter.new(self, opp)
    %li{:class=>"#{opportunity.source}"}
      = link_to opportunity.title_with_country, opportunity_path(opp), {:class => "title" }

      %span.text
        = opportunity.teaser

      - if opportunity.source('volume_opps')
        = render partial: "partials/open_opps_link"

      %span.expires
        Closing date:
        = opportunity.expires

