.container
  .results__order
    %form{:action => opportunities_path, :method => "get", :class => "js-order"}
      = hidden_field_tag :sectors, params[:sectors]
      = hidden_field_tag :countries, params[:countries]
      = hidden_field_tag :types, params[:types]
      = hidden_field_tag :values, params[:values]
      = hidden_field_tag :s, params[:s]
      Ordered by:
      = params[:sort_column].to_s
      %br
      = params[:s].to_s
      %ul.results__order__items
        %li.results__order__item
          %input{ name: 'sort_column', id: 'order_expiry_date', type: 'radio', value: 'response_due_on', checked: @sort.column == 'response_due_on' }
          %label{ for: 'order_expiry_date' } expiry date
        %li.results__order__item
          %input{ name: 'sort_column', id: 'order_published_date', type: 'radio', value: 'first_published_at', checked: @sort.column == 'first_published_at' }
          %label{ for: 'order_published_date' } published date
        - if !params[:s].to_s.empty?
          %li.results__order__item
            %input{ name: 'sort_column', class: 'order_relevance', id: 'order_relevance', type: 'radio', value: 'relevance', checked: params[:sort_column] == 'relevance'}
            %label{ class: 'order_relevance', for: 'order_relevance' } relevance
      %br
      = @sort.inspect
