
= content_for :head do
  %link{href: url_for(params.merge(format: :atom, only_path: false)), type: 'application/atom+xml', rel: 'alternate', title: t('site_name')}/

.hero__main
  .outer-container
    %h1.hero__header Export Opportunities
    %p.hero__text Find and apply for overseas opportunities from businesses looking for products or services like yours.
    %hr.thin
  = render 'filters'

- if !@subscription_form.minimum_search_criteria?
  = render 'giantsteps_panel'
  = render 'case_study'

- if @subscription_form.minimum_search_criteria?
  = render 'subscription_form'

- if @subscription_form.minimum_search_criteria? and @opportunities.any?
  = render 'opportunities_order'
  = render 'opportunities'

.container
  - if @opportunities.any?
    %h2
      - if @count == 1
        Right now there is 1 opportunity
      - else
        Right now there are
        = @count
        opportunities
