
= content_for :head do
  %link{href: url_for(params.merge(format: :atom, only_path: false)), type: 'application/atom+xml', rel: 'alternate', title: t('site_name')}/

.panel
  - if @opportunities.any?
    %h2
      - if @count == 1
        Right now there is 1 opportunity
      - else
        Right now there are
        = @count
        opportunities


= render 'filters'
= render 'giantsteps_panel'
= render 'opportunities_order'
= render 'opportunities'
