
= content_for :hero do
  %h1 Export opportunities
  %p
    Find and apply for overseas opportunities from businesses
    %br/
    looking for products or services like yours.

= content_for :head do
  %link{href: url_for(params.merge(format: :atom, only_path: false)), type: 'application/atom+xml', rel: 'alternate', title: t('site_name')}/

.panel
  - if @opportunities.any?
    %h2
      - if @query.count == 1
        Right now there is 1 opportunity
      - else
        Right now there are
        = @query.count
        opportunities

= render 'filters'
= render 'opportunities_order'
= render 'opportunities'
