%section#hero-banner.hero-section.search-section
  .container

    %div
      %h1= @content["title"]
      %p= @page.description @opportunities_stats[:total]
    = render partial: "opportunities/search_form", locals: { regions: @regions, countries: @countries }

%div.breadcrumb-container
  %div.container
    = render partial: 'components/breadcrumbs', locals: { breadcrumbs: @page.breadcrumbs }

%div.mobile-hero-image
  
%section#recent-opportunities
  .container
    %h2 Latest export opportunities
    = render partial: "opportunities/list", locals: { list: @recent_opportunities }


%section#featured-industries
  .container
    %h2 Featured industries
    = render partial: "summary_list", locals: { list: @page.featured_industries }


%section#service-promotion
  .container
    %h2 Thousands of export opportunities from around the world. All in one place.
    %ul.navigation
      %li
        %strong Global opportunities
        Find opportunities sourced by overseas trade professionals or provided by a third party.

      %li 
        %strong Overseas buyers
        Connect with buyers from around the world and start trading.

      %li
        %strong Email alerts
        Set up email alerts to get a daily summary of matching opportunities.


%section#testimonials
  .container
    -# NOTE: Just duplicate (with altered content) quotes and code will do the rest.
    - @content["testimonials"].each do |quote|
      = render partial: "components/quote", locals: { quote: quote }


%section#how-it-works
  .container
    %h2.heading How it works
    %p.intro Search and apply for opportunities around the world.
    .component.steps-indicator
      %ol.steps-indicator
        %li
          %span.action Find
          %span.separator :
          %span.description Search for tenders and export opportunities exclusively sourced by DBT trade teams or submitted by our partners.
        %li
          %span.action Choose
          %span.separator :
          %span.description Select the opportunities that your company can fulfil.
        %li
          %span.action Pitch
          %span.separator :
          %span.description Express your interest and explain how your company meets the buyer's needs.
      = image_tag "ExOpps_HowItWorks470x580_13@2x.jpg", { alt: '' }


%section#auxiliary-search.search-section
  .container
    %h2= @content["title"]
  %div.container  
    = render partial: "opportunities/search_form", locals: { regions: @regions, countries: @countries }

