.container
  .legacy.margin-top-30 
    .new-wrapper
      %h1.h1.constrained-width= @opportunity.title
      .opportunity__main.panel
        %h3.h3= @opportunity.teaser
        %hr
        .opportunity__content
          = present_html_or_formatted_text(@opportunity.description).html_safe

      .opportunity__information.panel
        %h3.h3 Essential information

        .meta
          .meta__item.meta__icon-sector
            %h4.meta__header
              Sectors
            %p.meta__content
              = @opportunity.sectors.pluck(:name).to_sentence

          .meta__item.meta__icon-type
            %h4.meta__header
              Opportunity type
            %p.meta__content
              = @opportunity.types.pluck(:name).to_sentence

          .meta__item.meta__icon-response
            %h4.meta__header
              Expiry date
            %p.meta__content
              = @opportunity.response_due_on.strftime('%d %B %Y')

          .meta__item.meta__icon-enquiries
            %h4.meta__header
              Applications received
            %p.meta__content
              = @opportunity.enquiries.size

          .meta__item.meta__icon-value
            %h4.meta__header
              Value of contract
            %p.meta__content
              - if @opportunity.values.any?
                = @opportunity.values.first.name
              - else
                Value unknown

          .meta__item.meta__icon-value
            %h4.meta__header
              Source
            %p.meta__content
              =@opportunity.source

          - unless @opportunity.source.eql?'post'
            .meta__item.meta__icon-value
              %h4.meta__header
                Buyer
              %p.meta__content
                =@opportunity.buyer

            .meta__item.meta__icon-value
              %h4.meta__header
                Contact Point Name
              %p.meta__content
                =@opportunity.contacts.first.name

            .meta__item.meta__icon-value
              %h4.meta__header
                Contact Point Email
              %p.meta__content
                =@opportunity.contacts.first.email


          - essential_information_required = @opportunity.countries.with_exporting_guide.any? || @opportunity.types.aid_funded.any?
          - if essential_information_required
            - @opportunity.countries.with_exporting_guide.each do |country|
              .meta__item.meta__icon-guide
                %h4.meta__header
                  Your guide to exporting
                %p.meta__content              
                  = link_to "https://www.gov.uk#{country.exporting_guide_path}", target: '_blank' do
                    = country.name
            - if @opportunity.types.aid_funded.any?
              .meta__item.meta__icon-guide
                %p.meta__content  
                  = link_to 'https://www.gov.uk/guidance/aid-funded-business', target: '_blank' do
                    Your guide for aid funded business

        - if @opportunity.expired?
          %p
            %strong= t('opportunity.expired')
          %p
            Visit the #{link_to 'opportunities page', opportunities_path} to find another.
        - else
          = link_to 'Submit your proposal', new_enquiry_path(slug: @opportunity.slug), class: 'button button-wide'
