- page = PagePresenter.new(@content)
- opportunity = OpportunityPresenter.new(self, @opportunity, @content)
- page.add_breadcrumb_current(opportunity.title_with_country)

.container
  = render partial: 'components/breadcrumbs', locals: { breadcrumbs: page.breadcrumbs }

  %article.opportunity
    %h1
      = opportunity.title_with_country

    %p.summary
      - if opportunity.source('volume_opps')
        For more information and to make a bid you will need to go to the third party website.
      - else
        This is a business opportunity from an overseas buyer. Pitch for the business and explain how your company meets their requirements.

    .teaser
      = opportunity.teaser


    .details
      %h2 Details
      - if opportunity.source('volume_opps')
        = render partial: "partials/open_opps_link"

      %dl
        %dt.expiry
          Opportunity closing date
        %dd.expiry
          = opportunity.expires

        %dt.published
          Opportunity publication date
        %dd.published
          = opportunity.published_date

        - if opportunity.source('post')
          %dt.opportunity_type
            Opportunity type
          %dd.opportunity_type
            = opportunity.type
            %br
            - if opportunity.type == 'Aid Funded Business'
              = opportunity.link_to_aid_funded "Your guide for aid funded business"

        - if opportunity.sectors && opportunity.source('post')
          %dt.industry
            Industry
          %dd.industry
            = opportunity.industry_links

        - if opportunity.opportunity_cpvs.present?
          %dt.category
            Category
          %dd.category

          %dd.category
            = opportunity.put(@opportunity.opportunity_cpvs.map(&:industry_id).join(', '), '-')

        - unless opportunity.source('volume_opps')
          %dt.enquiries
            Enquiries received
          %dd.enquiries
            = opportunity.enquiries_total

        %dt.value
          Value of contract
        %dd.value
          = opportunity.value

        - if opportunity.guides_available
          %dt.guide
            Your guide to exporting
          %dd.guide
            %ul.navigation
              - opportunity.country_guides.each do |link|
                %li= link

      -# TODO: Just sending to feedback location for now
      = link_to "Report opportunity", Figaro.env.CONTACT_US_FORM, :class=>"report"


    .description
      - if @opportunity.description.present? && (@opportunity.description != @opportunity.title)
        %h2 Description
        = opportunity.description

      %dl
        %dt.expiry
          Opportunity closing date
        %dd.expiry
          = opportunity.expires

        %dt.value
          Value of contract
        %dd.value
          = opportunity.value

        - if opportunity.supplier_preference?
          %dt.supplier-preference
            The buyer is happy to talk to
          %dd.supplier-preference
            = opportunity.supplier_preferences

    - unless opportunity.source('post') || opportunity.buyer_details_empty?
      .buyer
        %h2 About the buyer
        %dl
          %dt.address
            Address
          %dd.address
            = opportunity.buyer_name
            = opportunity.buyer_address

          - unless opportunity.contact.blank?
            %dt.contact
              Contact
            %dd.contact
              = opportunity.contact



    - content_for :disclaimer_content  do
      .disclaimer
        %p= @content["disclaimer_1"]
        %p= @content["disclaimer_2"]
        -if opportunity.translated?
          %p= @content["disclaimer_3"]

    .bid
      - if opportunity.expired?
        %p.expired
          %strong
            = t('opportunity.expired')
          %br
          Visit the
          = link_to 'opportunities page', opportunities_path
          to find another.

      - else
        - if opportunity.source('post')
          - if opportunity.created_at > Date.parse(Figaro.env.SIGNOFF_LINES_DEPLOYMENT_DATE)
            %h2 Express your interest
            - opportunity.sign_off_content.each do |line|
              = content_tag("p", line, class: "sign-off")

          = yield :disclaimer_content

          - if opportunity.target_url.present?
            = link_to 'Go to third party website', opportunity.target_url, class: 'button', target: :_blank

          - else
            = link_to 'Express your interest', new_enquiry_path(@opportunity.slug), class: 'button abcbutton'

        - else
          -# OpenOpps/Third-party location.
          %h2 Bid for tender
          - opportunity.sign_off_content.each do |line|
            = content_tag("p", line, class: "sign-off")

          = yield :disclaimer_content
          = link_to 'Go to third party website', opportunity.tender_url, class: 'button', target: :_blank


    = render partial: 'components/sharing_links', locals: { title: opportunity.title_with_country, path: opportunity_url(@opportunity) }
