%h1 We value your feedback.
%br

%p Responding to this email will help us improve our service.

%hr{ style: "background-color:#f2eee8;  border:none; height:1px; margin-bottom:30px;" }


%p On #{@enquiry_feedback.enquiry.created_at.strftime('%e %B %Y')} you applied for:

- opportunity = @enquiry_feedback.enquiry.opportunity
- presenter = OpportunityPresenter.new(self, opportunity)
%table.opportunity{ border: "0", cellpadding: "30", cellspacing: "0", bgcolor: "#f2eee8", width: "540", style: "table-layout: fixed;" }
  %tr
    %td
      %b
        = link_to presenter.title_with_country, opportunity_url(opportunity), { style: "white-space:inherit;" }
      %br
      %br
      = opportunity.teaser
%hr{ style: "background-color: #B00D23; height: 2px; margin: 0px; border: 2px solid #b00d23;" }
%br
%br

- checkbox = "background: url(#{image_url('icons/icon-checkbox.gif', skip_pipeline: true)}) top left no-repeat; padding-left:40px;"
%p What happened after you applied for this opportunity?
%ul
  - %w[no_response did_not_win dont_know_outcome won].each do |response|
    %li
      = link_to @content[response], enquiry_feedback_url(q: EncryptedParams.encrypt(id: @enquiry_feedback.id, response: response ))

- content_for :email_sub_footer do
  %table{ border: "0", cellpadding: "30", cellspacing: "0", width: "600" }
    %tr
      %td
        %center
          %p
            You are receiving this email because you applied for an opportunity on the 
            = link_to 'Export Opportunities ', Figaro.env.EXPORT_OPPORTUNITIES_URL.to_s
            website.
          %p
            = link_to('Unsubscribe from feedback requests', feedback_opt_out_url(q: EncryptedParams.encrypt(user_id: @enquiry_feedback.enquiry.user.id)))
            %br
            = link_to "View privacy statement", Figaro.env.PRIVACY_AND_COOKIES_URL.to_s
