/ Preamble
%div{:style => "text-align:left;font-family:Helvetica,Arial,sans-serif;font-size:15px;margin-bottom:0;margin-top:3px;color:#5F5F5F;line-height:135%;background-color: #ececec; padding: 10px"} We value your feedback. Responding to this email will help us improve our service.
%div{:style => "text-align:left;font-family:Helvetica,Arial,sans-serif;font-size:18px;margin-bottom:0;margin-top:3px;color:#5F5F5F;line-height:135%; margin-top: 20px;"} #{@enquiry_feedback.enquiry.created_at.strftime('%e %B %Y')} you applied for:
%a{:href => "https://opportunities.export.great.gov.uk/opportunities/' + #{@enquiry_feedback.enquiry.opportunity.slug}", :style => "text-align:left;font-family:Helvetica,Arial,sans-serif;font-size:18px;margin-bottom:0;margin-top:3px;color:#0a569d;line-height:135%;"} #{@enquiry_feedback.enquiry.opportunity.title}
%div{:style => "text-align:left;font-family:Helvetica,Arial,sans-serif;font-size:18px;margin-bottom:0;margin-top:3px;color:#5F5F5F;line-height:135%; margin-top: 15px; margin-bottom: 20px;"} What happened after you applied for this opportunity?
/ Buttons
%table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "background: #f1ebe3; background: -moz-linear-gradient(top, #f1ebe3 0%, #ece5db 41%, #dfd6c7 100%); background: -webkit-linear-gradient(top, #f1ebe3 0%,#ece5db 41%,#dfd6c7 100%); background: linear-gradient(to bottom, #f1ebe3 0%,#ece5db 41%,#dfd6c7 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1ebe3', endColorstr='#dfd6c7',GradientType=0 );border-radius:5px; margin-bottom:10px;", :width => "100%"}
  %tr
    %td
    = image_tag('dummy_radio', style: "height: 20px; width: 20px; float:left; margin-right:10px;")
    = link_to('I was contacted by the buyer but don’t yet know the outcome', enquiry_feedback_url(q: EncryptedParams.encrypt(id: @enquiry_feedback.id, response: :dont_know_outcome)), style: 'text-decoration: underline !important; display: block; margin: 15px 0px; border-bottom: none;')
    %td
    = image_tag('dummy_radio', style: "height: 20px; width: 20px; float:left; margin-right:10px;")
    = link_to('I didn’t win the business', enquiry_feedback_url(q: EncryptedParams.encrypt(id: @enquiry_feedback.id, response: :did_not_win)), style: 'text-decoration: underline !important; display: block; margin: 15px 0px; border-bottom: none;')
    %td
    = image_tag('dummy_radio', style: "height: 20px; width: 20px; float:left; margin-right:10px;")
    = link_to('I won the business', enquiry_feedback_url(q: EncryptedParams.encrypt(id: @enquiry_feedback.id, response: :won)), style: 'text-decoration: underline !important; display: block; margin: 15px 0px; border-bottom: none;')
    %td
    = image_tag('dummy_radio', style: "height: 20px; width: 20px; float:left; margin-right:10px;")
    = link_to('I wasn’t contacted by the buyer', enquiry_feedback_url(q: EncryptedParams.encrypt(id: @enquiry_feedback.id, response: :no_response)), style: 'text-decoration: underline !important; display: block; margin: 15px 0px; border-bottom: none;')
    %td
    = image_tag('dummy_radio', style: "height: 20px; width: 20px; float:left; margin-right:10px;")
    = link_to('I don’t know or I don’t want to say', enquiry_feedback_url(q: EncryptedParams.encrypt(id: @enquiry_feedback.id, response: :dontknow_want_to_say)), style: 'text-decoration: underline !important; display: block; margin: 15px 0px; border-bottom: none;')

/ Sign off
%table.flexibleContainer{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin-top:30px", :width => "500"}
  %tr
    %td.flexibleContainerCell{:align => "left", :valign => "top", :width => "50%"}
      %div{:style => "font-family:Helvetica,Arial,sans-serif;font-size:13px;color:#333333;line-height:120%;"} The Export Opportunities team
    %td.flexibleContainerCell{:align => "right", :valign => "top", :width => "50%"}
      = image_tag('dept_logo_mini-2x.gif', style: "width: 130px; height: 59px; width: px;")


- content_for :message_reason do
  %p
    You are receiving this email because you applied for an export opportunity on the great.gov.uk website.
- content_for :footer_links do
  %div
    = link_to('Stop asking me for feedback on the export opportunities I apply for', feedback_opt_out_url(q: EncryptedParams.encrypt(user_id: @enquiry_feedback.enquiry.user.id)))
