/ Preamble
%div{:style => "text-align:left;font-family:Helvetica,Arial,sans-serif;font-size:15px;margin-bottom:0;margin-top:3px;color:#5F5F5F;line-height:135%;background-color: #ececec; padding: 10px"} We value your feedback. Responding to this email will help us improve our service.
%div{:style => "text-align:left;font-family:Helvetica,Arial,sans-serif;font-size:18px;margin-bottom:0;margin-top:3px;color:#5F5F5F;line-height:135%; margin-top: 20px;"} #{@enquiry_feedback.enquiry.created_at.strftime('%e %B %Y')} you applied for:
%a{:href => "https://opportunities.export.great.gov.uk/opportunities/' + #{@enquiry_feedback.enquiry.opportunity.slug}", :style => "text-align:left;font-family:Helvetica,Arial,sans-serif;font-size:18px;margin-bottom:0;margin-top:3px;color:#0a569d;line-height:135%;"} #{@enquiry_feedback.enquiry.opportunity.title}
%div{:style => "text-align:left;font-family:Helvetica,Arial,sans-serif;font-size:18px;margin-bottom:0;margin-top:3px;color:#5F5F5F;line-height:135%; margin-top: 15px; margin-bottom: 20px;"} What happened after you applied for this opportunity?

%table.flexibleContainer{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
  %tr
    %td.flexibleContainerCell{:align => "center", :valign => "top", :width => "100%"}
      %div{:style => "margin-bottom: 10px"}
        /[if mso]
          <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="http://" style="height:60px;v-text-anchor:middle;width:300px;" arcsize="10%" strokecolor="#d3c6b3" fill="t">
          <v:fill type="tile" src="" color="#dfd5c5" />
          <w:anchorlock/>
          <center style="color:#000000;font-family:sans-serif;font-size:16px;font-weight:bold;">I was contacted by the buyer but don't yet know the outcome</center>
          </v:roundrect>
        %a{:href => "#{enquiry_feedback_url(q: EncryptedParams.encrypt(id: @enquiry_feedback.id, response: :dont_know_outcome))}", :style => "background-color:#dfd5c5;background-image:url();border:1px solid #d3c6b3;border-radius:5px;color:#000000;display:inline-block;font-family:sans-serif;font-size:16px;font-weight:bold;line-height:60px;text-align:center;text-decoration:none;width:100%;-webkit-text-size-adjust:none;mso-hide:all;"} I was contacted by the buyer but don't yet know the outcome

      %div{:style => "margin-bottom: 10px"}
        /[if mso]
          <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="http://" style="height:60px;v-text-anchor:middle;width:300px;" arcsize="10%" strokecolor="#d3c6b3" fill="t">
          <v:fill type="tile" src="" color="#dfd5c5" />
          <w:anchorlock/>
          <center style="color:#000000;font-family:sans-serif;font-size:16px;font-weight:bold;">I didn't win the business</center>
          </v:roundrect>
        %a{:href => "#{enquiry_feedback_url(q: EncryptedParams.encrypt(id: @enquiry_feedback.id, response: :did_not_win))}", :style => "background-color:#dfd5c5;background-image:url();border:1px solid #d3c6b3;border-radius:5px;color:#000000;display:inline-block;font-family:sans-serif;font-size:16px;font-weight:bold;line-height:60px;text-align:center;text-decoration:none;width:100%;-webkit-text-size-adjust:none;mso-hide:all;"} I didn't win the business

      %div{:style => "margin-bottom: 10px"}
        /[if mso]
          <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="http://" style="height:60px;v-text-anchor:middle;width:300px;" arcsize="10%" strokecolor="#d3c6b3" fill="t">
          <v:fill type="tile" src="" color="#dfd5c5" />
          <w:anchorlock/>
          <center style="color:#000000;font-family:sans-serif;font-size:16px;font-weight:bold;">I won the business</center>
          </v:roundrect>
        %a{:href => "#{enquiry_feedback_url(q: EncryptedParams.encrypt(id: @enquiry_feedback.id, response: :won))}", :style => "background-color:#dfd5c5;background-image:url();border:1px solid #d3c6b3;border-radius:5px;color:#000000;display:inline-block;font-family:sans-serif;font-size:16px;font-weight:bold;line-height:60px;text-align:center;text-decoration:none;width:100%;-webkit-text-size-adjust:none;mso-hide:all;"} I won the business

      %div{:style => "margin-bottom: 10px"}
        /[if mso]
          <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="http://" style="height:60px;v-text-anchor:middle;width:300px;" arcsize="10%" strokecolor="#d3c6b3" fill="t">
          <v:fill type="tile" src="" color="#dfd5c5" />
          <w:anchorlock/>
          <center style="color:#000000;font-family:sans-serif;font-size:16px;font-weight:bold;">I wasn't contacted by the buyer</center>
          </v:roundrect>
        %a{:href => "#{enquiry_feedback_url(q: EncryptedParams.encrypt(id: @enquiry_feedback.id, response: :no_response))}", :style => "background-color:#dfd5c5;background-image:url();border:1px solid #d3c6b3;border-radius:5px;color:#000000;display:inline-block;font-family:sans-serif;font-size:16px;font-weight:bold;line-height:60px;text-align:center;text-decoration:none;width:100%;-webkit-text-size-adjust:none;mso-hide:all;"} I wasn't contacted by the buyer


      %div{:style => "margin-bottom: 10px"}
        /[if mso]
          <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="http://" style="height:60px;v-text-anchor:middle;width:300px;" arcsize="10%" strokecolor="#d3c6b3" fill="t">
          <v:fill type="tile" src="" color="#dfd5c5" />
          <w:anchorlock/>
          <center style="color:#000000;font-family:sans-serif;font-size:16px;font-weight:bold;">I don't know or I don't want to say</center>
          </v:roundrect>
        %a{:href => "#{enquiry_feedback_url(q: EncryptedParams.encrypt(id: @enquiry_feedback.id, response: :dontknow_want_to_say))}", :style => "background-color:#dfd5c5;background-image:url();border:1px solid #d3c6b3;border-radius:5px;color:#000000;display:inline-block;font-family:sans-serif;font-size:16px;font-weight:bold;line-height:60px;text-align:center;text-decoration:none;width:100%;-webkit-text-size-adjust:none;mso-hide:all;"} I don't know or I don't want to say
        
/ Sign off
%table.flexibleContainer{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin-top:30px", :width => "500"}
  %tr
    %td.flexibleContainerCell{:align => "left", :valign => "top", :width => "50%"}
      %div{:style => "font-family:Helvetica,Arial,sans-serif;font-size:13px;color:#333333;line-height:120%;"} The Export Opportunities team
    %td.flexibleContainerCell{:align => "right", :valign => "top", :width => "50%"}
      = image_tag('dept_logo_mini-2x.gif', style: "width: 130px; height: 59px; width: px;")


- content_for :message_reason do
  %p
    You are receiving this email because you applied for an export opportunity on the great.gov.uk website.
- content_for :footer_links do
  %div
    = link_to('Unsubscribe', feedback_opt_out_url(q: EncryptedParams.encrypt(user_id: @enquiry_feedback.enquiry.user.id)))
    from future 'Give feedback on' emails 

