.opportunity-search-results
  = opportunity_search.message "information"

  %dl
    - opportunity_search.results.each do |opportunity|
      %dt{:class=>"#{opportunity.source}"}
        = link_to opportunity.title.strip, opportunity_path(opportunity)

      %dd{:class=>"#{opportunity.source}"}
        %span.text
          = opportunity.teaser

        - if opportunity.source.eql? 'volume_opps'
          %span.source 
            Tender provided by
            = image_tag "logos/openopps_logo.png", :alt=>"Open Opps"

        %form.actions
          %button.link.save Save for later
          %button.link.share Share

  = opportunity_search.navigation "pagination"
  = opportunity_search.view_all_link "button all"
