.opportunity-search-results
  = results.displayed "information"

  %form
    %label Ordered by:
    %select
      %option Relevance

  %dl
    - results.found.each do |opportunity|
      %dt{:class=>"#{opportunity.source}"}
        = link_to results.title_with_country(opportunity), poc_opportunity_path(opportunity)

      %dd{class: "#{opportunity.source}"}
        %span.text
          = opportunity.teaser

        - if opportunity.source.eql? 'volume_opps'
          %span.source
            Provided by
            = image_tag "logos/openopps_logo.png", :alt=>"Open Opps"

        %form.actions
          %span.expires
            Closing date:
            = opportunity.response_due_on.strftime('%d %B %Y')
          %button.link.save Save for later

  = results.navigation "pagination"
  = results.view_all_link "button all"
