%section.opportunity-subscribe-form
  .container
    = form_tag subscriptions_path_for_current_user, id: 'subscription-form' do
      %h2 
        Subscribe to email alerts for
        = @subscription[:description]
      - if current_user
        %p
          Receive email alerts whenever a relevant opportunity is published. These will be sent to
          %strong= current_user.email
      - else
        %p
          Receive email alerts whenever a relevant opportunity is published. 
          You will be asked to sign in or sign up first.

      .form-group
        = hidden_field_tag 'subscription[query[search_term]]', @search_term
        - @subscription[:form].types.each do |type|
          = hidden_field_tag 'subscription[query[types]][]', type.slug, multiple: true
        - @subscription[:form].sectors.each do |sector|
          = hidden_field_tag 'subscription[query[sectors]][]', sector.slug, multiple: true
        - @subscription[:form].values.each do |value|
          = hidden_field_tag 'subscription[query[values]][]', value.slug, multiple: true
        - @subscription[:form].countries.each do |country|
          = hidden_field_tag 'subscription[query[countries]][]', country.slug, multiple: true
        = submit_tag 'Subscribe', class: 'button'
