.opportunity-summary-list
  %ul.navigation
    - list[:items].each do |item|
      %li
        = image_tag "poc/#{list[:type]}/#{item.slug}.png"
        = link_to  item.name, "#{list[:url]}#{item.slug}"
