- content_for :page_specific_head do
  = stylesheet_link_tag 'poc/layouts/landing'
  = javascript_include_tag 'poc/layouts/landing'


%section#intro.hero-section.international
  .container
    %p.non-breadcrumb Business opportunities

    %h1.title Find UK companies to do business with
    %p Tell UK companies about the products or services you're looking for. Search for and get in touch with companies that provide what you need.
    = link_to "Get started", "/poc/opportunities/new", :class=>"button button-cta"


= render "includes/how_it_works_section"
= render "includes/testimonials_section"


%section#service-benefits
  .container
    %h2.heading How this service can help your business
    .benefits
      .benefit
        %h3 Importing online
        %p Find verified companies that provide what you need.
  
      .benefit
        %h3 Direct contact with companies
        %p UK companies get in touch, or you contact them.
  
      .benefit
        %h3 Well known brands and suppliers
        %p Choose from sought after products recognised around the world.



%section#create-opportunities
  .container
    %h2.heading Find UK companies to do business with
    = link_to "Get started", "/opportunities/new", :class=>"button button-cta"



%section#meet-companies
  .container
    %h2.heading Meet UK companies
    %p.intro Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore

    %h3.sector Food and drink
    .companies
      .company
        = image_tag "companies/placeholder.png"
        %h4.name Joe &amp; Seph&apos;s
        %p Joe &amp; Seph&apos;s are a family business who launced in 2010 with a mission to produce the best tasting popcorn in the world.
      .company
        = image_tag "companies/placeholder.png"
        %h4.name Joe &amp; Seph&apos;s
        %p Joe &amp; Seph&apos;s are a family business who launced in 2010 with a mission to produce the best tasting popcorn in the world.
      .company
        = image_tag "companies/placeholder.png"
        %h4.name Joe &amp; Seph&apos;s
        %p Joe &amp; Seph&apos;s are a family business who launced in 2010 with a mission to produce the best tasting popcorn in the world.

    %h3.sector Retail and luxury
    .companies
      .company
        = image_tag "companies/placeholder.png"
        %h4.name Company RAL 1
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
      .company
        = image_tag "companies/placeholder.png"
        %h4.name Company RAL 2
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
      .company
        = image_tag "companies/placeholder.png"
        %h4.name Company RAL 3
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore

    %h3.sector Creative and media
    .companies
      .company
        = image_tag "companies/placeholder.png"
        %h4.name Company CAM 1
        %p Joe &amp; Seph&apos;s are a family business who launced in 2010 with a mission to produce the best tasting popcorn in the world.
      .company
        = image_tag "companies/placeholder.png"
        %h4.name Company CAM 2
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
      .company
        = image_tag "companies/placeholder.png"
        %h4.name Company CAM 3
        %p Joe &amp; Seph&apos;s are a family business who launced in 2010 with a mission to produce the best tasting popcorn in the world.
    
    %h3.sector Software and IT
    .companies
      .company
        = image_tag "companies/placeholder.png"
        %h4.name Company SAIT 1
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
      .company
        = image_tag "companies/placeholder.png"
        %h4.name Company SAIT 1
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
      .company
        = image_tag "companies/placeholder.png"
        %h4.name Company SAIT 1
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore

