- page = Poc::PagePresenter.new(@content)
- presenter_filters = Poc::OpportunitySearchFiltersPresenter.new(@content['search_filters'], @search_filters)
- presenter_results = Poc::OpportunitySearchResultsPresenter.new(self, @content['search_results'], @opportunity_search)
- content_for :page_specific_head do
  = stylesheet_link_tag 'poc/layouts/results'
  = javascript_include_tag 'poc/layouts/results'


.container
  = render partial: 'components/breadcrumbs', locals: { breadcrumbs: page.breadcrumbs }
  %h1.verbose= @content['title']

#searh-results
  %h2.verbose
    = presenter_results.content['title']
  = render partial: "components/search_again_form", locals: { results: presenter_results }

  .container
    = render partial: "opportunity_search_results", locals: { results: presenter_results }
    = render partial: "search_results_filters", locals: { filters: presenter_filters }
