- page = Poc::PagePresenter.new('Search results')
- subscription = Poc::SubscriptionDecorator.new(@subscription_form)
- search_results = Poc::OpportunitySearchResultsPresenter.new(self, @opportunity_search)
- content_for :page_specific_head do
  = stylesheet_link_tag 'poc/layouts/results'
  = javascript_include_tag 'poc/layouts/results'


.container
  = render partial: 'components/breadcrumbs', locals: { breadcrumbs: page.breadcrumbs }
  %h1.verbose Search results

%aside.container
  = render partial: 'components/subscription_form', locals: { subscription: subscription }

%section#search-results
  .container
    %h2.verbose Results found
    = render partial: "opportunity_search_results", locals: { results: search_results }
    = render partial: "opportunity_search_filters"
