- content_for :page_specific_head do
  = stylesheet_link_tag 'poc/layouts/results'
  = javascript_include_tag 'poc/layouts/results'


%section.hero-section.search-section
  .container
    %h1 Find business opportunities
    %p Search for opportunitities and pitch your company to overseas buyers who are looking for products and services like yours.
    = render "opportunity_search_form"

%section#search-results
  .container
    %h2 Search results
    = render partial: "opportunity_search_results", locals: { results: @opportunity_search }

= render "opportunity_subscribe_form"
