- content_for :page_specific_head do
  = stylesheet_link_tag 'poc/layouts/results'
  = javascript_include_tag 'poc/layouts/results'

.container
  = render partial: 'components/breadcrumbs'
  %h1.verbose Search results

%aside.container
  = render partial: 'components/subscription_form', locals: { subscription: @subscription }

%section#search-results
  .container
    %h2.verbose Results found
    = render partial: "opportunity_search_results", locals: { results: @opportunity_search }
    = render partial: "opportunity_search_filters", locals: { results: @opportunity_search }
