.process.end
  .container
    %h1 Verifying and publishing opportunity
    %form{:method=>'post'}
      = @form.hidden_fields 'step_4'

      %fieldset
        %legend.progress Step 4 of 4
        %p.requirement
          = @form.entries['need']

        %pre
          = @form.entries['specifications']

        %dl
          %dt Industries:
          %dd 
            = @form.entries['industry']
            = link_to 'edit/industries', :class=> 'edit' do
              Edit
              %span.verbose industry

          %dt Commodity codes:
          %dd 
            = @form.entries['keywords']
            = link_to 'edit/code', :class=> 'edit' do
              Edit
              %span.verbose code

          %dt The value of this order is:
          %dd
            0-10,000 £
            = link_to 'edit/value', :class=> 'edit' do
              Edit
              %span.verbose value

      %input{:type=>'submit', :value=>'Publish', :class=>'button'}
