/
  =@enquiry_response.inspect

%div.panel.panel-border-narrow
  .grid-row
    .column-one-half
      %p Dear #{@enquiry_response.enquiry.first_name},
      %p
        Thank you for your interest in the export opportunity:
        %b=@enquiry_response.enquiry.opportunity.title

      %h3 Outcome
      %p Your proposal will not be taken any further.

      %h3 Reason
      %p Your proposal does not meet the criteria for this opportunity.

      = render 'enquiry_response_mailer/editable_content', enquiry_response: @enquiry_response
      
      %h3 Review your proposal and addtional recommendations 

      %p= link_to "#{Figaro.env.DOMAIN}/dashboard/enquiries/#{@enquiry_response.enquiry_id}", "#{Figaro.env.DOMAIN}/dashboard/enquiries/#{@enquiry_response.enquiry_id}", { :class=>"link" }

      %br

      %p The export opportunities team

=render partial:'enquiry_response_mailer/submit_buttons' unless @mailer_view
