%h1.heading-xlarge Download Opportunities

%div
  
  = form_tag admin_opportunity_downloads_path, class: :opportunities_download_form do

    = render :partial => "errors/form_validation.html"

    %p
      = label_tag :created_at_from, 'From'
      = select_date 1.day.ago, prefix: :created_at_from, class: 'form-control', id: 'created_at_from'
    %p
      = label_tag :created_at_to, 'To'
      = select_date Date.today, prefix: :created_at_to, class: 'form-control', id: 'created_at_to'
    %p
      = submit_tag 'Download as CSV', class: 'button'