%form{:method=>'post'}
  = @form.hidden_fields

  %fieldset
    %legend.progress Step 3 of 4
    %p.requirement Details
    = render partial: "components/input_text", locals: { input: @form.input_text('need'), maxlength: 80 }
    = render partial: "components/input_text", locals: { input: @form.input_text('industry') }
    = render partial: "components/input_text", locals: { input: @form.input_text('keywords') }
    = render partial: "components/input_multi_currency_amount", locals: { input: @form.input_multi_currency_amount('value') }
    = render partial: "components/input_text", locals: { input: @form.input_text('specifications') }
    = render partial: "components/input_date_selector", locals: { input: @form.input_date_selector('respond_by') }
    = render partial: "components/input_text", locals: { input: @form.input_text('respond_to') }

  - if @form.field_content.has_key?('link')
    = render partial: "components/input_text", locals: { input: @form.input_text('link') }


  %input{:type=>'submit', :value=>'Save and continue', :class=>'button'}
