
-#%strong= @subscription.description

-# TODO: generate unique URL for unsubscribe from all alerts
-#= link_to 'Unsubscribe from this alert', unsubscribe_url(@subscription)
-#- unless @subscription.user.stub?
-#  %br
-#  = link_to 'Manage your alerts', dashboard_url(anchor: 'alerts', target: :alerts)

-# =@encrypted_user_id.to_s

%h1{ style: "font-size:30px" }
  New matching opportunities
%br

%p
  You have
  %b{ style: "font-size:30px" }
    = @count
  - if @count > 1
    opportunities that match
  - else
    opportunity that matches
  your criteria

%hr{ style: "background-color:#f2eee8;  border:none; height:1px; margin-bottom:30px;" }

- @subscriptions.each do |name, _subscription|
  - opportunity = OpportunityPresenter.new(self, _subscription[:opportunity])
  - subscription = SubscriptionPresenter.new(_subscription[:subscription])
  %table.opportunity{ border: "0", cellpadding: "30", cellspacing: "0", bgcolor: "#f2eee8", width: "540", style: "table-layout: fixed;" }
    %tr
      %td
        - if opportunity.source('volume_opps')
          %p{ style: "font-size:16px" }
            Provided by
            %br
            = image_tag "logos/openopps_logo.png", alt: "Open Opps", width: "150"

        %b
          = link_to opportunity.title_with_country, opportunity_url(_subscription[:opportunity]), { style: "white-space:inherit;" }
        %br
        %br
        = opportunity.teaser
        %br
        %br
        %p{ style: "font-size:16px; margin-bottom:0;" }
          Opportunity expires:
          = opportunity.expires

  %hr{ style: "background-color: #B00D23; height: 2px; margin: 0px; border: 2px solid #b00d23;" }
  %br
  %p
    = link_to "View all opportunities #{subscription.description}", "#{Figaro.env.DOMAIN}#{_subscription[:target_url]}", { style: "font-weight:bold;" }
  %br

%p
  = link_to "Search for other opportunities", root_url, { style: "font-weight:bold;" }

%br

%p{ style: "font-weight:bold;" }
  To get daily email alerts for specific opportunities:
%ol
  %li{ style: "margin-bottom:15px;" }
    Go to
    =link_to "your account", Figaro.env.SUD_PROFILE_PAGE_EMAIL_ALERTS.to_s
    and unsubscribe from any alerts for "all opportunities".
  %li{ style: "margin-bottom:15px;" }
    Go to
    =link_to "export opportunities", root_url
    and enter the products, services, or countries you want to get notifications for.
  %li{ style: "margin-bottom:15px;" }
    You will then be prompted to subscribe to email alerts for the search terms you have entered.

- content_for :email_sub_footer do
  %table{ border: "0", cellpadding: "30", cellspacing: "0", width: "600" }
    %tr
      %td
        %center
          %p You are receiving this email because you signed up for Export Opportunities email alerts
          %p
            = link_to "Manage your alerts", Figaro.env.SUD_PROFILE_PAGE_EMAIL_ALERTS.to_s
            %br
            = link_to "Unsubscribe from all alerts", "#{Figaro.env.DOMAIN}/email_notifications/unsubscribe_all/#{@encrypted_user_id}"
            %br
            = link_to "View privacy statement", Figaro.env.PRIVACY_AND_COOKIES_URL.to_s
            %br
            = link_to "Give feedback", Figaro.env.CONTACT_US_FORM.to_s
