
-#%strong= @subscription.description

-# TODO: generate unique URL for unsubscribe from all alerts
-#= link_to 'Unsubscribe from this alert', unsubscribe_url(@subscription)
-#- unless @subscription.user.stub?
-#  %br
-#  = link_to 'Manage your alerts', dashboard_url(anchor: 'alerts', target: :alerts)

-# =@view_more_opportunities_user_id.to_s

%h1{:style=>"font-size:30px"} 
  = @count
  Matching opportunities

%br
%p
  You have
  %b{:style=>"font-size:30px"}
    = @count
  - if @count > 1
    opportunities 
  - else
    opportunity
  that match your criteria

%br

- @opportunities.each do |opportunity|
  %table.opportunity{ :border=>"0", :cellpadding=>"30", :cellspacing=>"0", :bgcolor=>"#f2eee8" }
    %tr
      %td
        - if opportunity.source.eql? 'volume_opps'
          Provided by
          %br
          = image_tag "logos/openopps_logo.png", :alt=>"Open Opps", :width=>"150"
          %br
          %br

        %b
          = link_to opportunity.title, opportunity_url(opportunity), { :style=>"white-space:inherit;" }
        %br
        %br
        = opportunity.teaser
        %br
        %br
        Opportunity expires:
        = opportunity.response_due_on

  %hr{ :style=>"background-color: #B00D23; height: 2px; margin: 0px; border: 2px solid #b00d23;" }
  %br

%p.action
  = link_to 'View all', "#{Figaro.env.DOMAIN}/email_notifications/#{@view_more_opportunities_user_id}", { :style=>"padding:10px 0px 10px 0px; text-align:center; width:100%" }

%br
%p
  You can also
  = link_to "search for other export opportunities", opportunities_url

- content_for :email_sub_footer do
  %table{ :border=>"0", :cellpadding=>"30", :cellspacing=>"0", :width=>"600" }
    %tr
      %td
        %center
          %p You are receiving this email because you signed up for Export Opportunities email alerts
          %p
            = link_to "Manage your alerts", "#"
            %br
            = link_to "Unsubscribe from all alerts", "#"
            %br
            = link_to "View privacy statements", "#"
            %br
            = link_to "Give feedback", "#"
