- page = PagePresenter.new(@content)
- page.add_breadcrumb_current('Express interest')

.process
  .container
    = render partial: "components/breadcrumbs", locals: { breadcrumbs: page.breadcrumbs }

    %h1
      %span.progress You are expressing an interest in
      = @opportunity.title

    = form_for @enquiry do |f|
      %p.intro.description
        All fields are required unless marked as optional.

      %fieldset.details
        %legend Your Details
        .field
          = f.label :first_name, "First Name", class: "required"
          = f.text_field :first_name, required: "required"
        .field
          = f.label :last_name, "Last Name", class: "required"
          = f.text_field :last_name, required: "required"
        .field
          = f.label :company_telephone, "Phone Number", class: "required"
          = f.text_field :company_telephone, required: "required"

      %fieldset.business
        %legend About Your Business
        .field
          = f.label :company_name, "Company Name", class: "required"
          = f.text_field :company_name, required: "required"
        .field.checkbox
          %input{:type=>"checkbox", :name=>"has_companies_house_number", :id=>"has-companies-house-number"}
          %label{:for=>"has-companies-house-number"}
            I do not have a Companies House number

        .field{:id=>"companies-house-number"}
          = f.label :company_house_number, "Companies House Number"
          = f.text_field :company_house_number
        .field
          = f.label :company_address, "Company Address", class: "required"
          = f.text_field :company_address, required: "required"
        .field
          = f.label :company_postcode, "Post Code", class: "required"
          = f.text_field :company_postcode, required: "required"
        .field
          = f.label :company_url, "Company URL (optional)"
          = f.text_field :company_url

        - if trade_profile(@enquiry.company_house_number)
          %p
            = 'We have identified that you have a business profile.'
          %p
            = 'Your'
            = link_to 'Business Profile', trade_profile(@enquiry.company_house_number), target: :blank
            = 'will be added to your application.'

      %fieldset.your-exporting
        %legend About Your Exporting Experience
        .field
          = f.label :existing_exporter, "Have you sold products or services to overseas customers?", class: "required"
          = f.select(:existing_exporter, Enquiry::EXISTING_EXPORTER_CHOICES, required: "required", prompt: 'Select')
        .field
          = f.label :company_sector, "Select your sector", class: "required"
          = f.select(:company_sector, Sector.pluck(:name).to_a, required: "required", prompt: 'Sector')
        .field
          = f.label :company_explanation, class: "required" do
            Explain what your company does and how it meets the requirements for this opportunity.
            %span.helptext 
              This is your chance to promote your company and make your proposal stand out. (max. 1,100 characters)
        

          = f.text_area :company_explanation, {required: "required", rows: "8", maxlength: "1100"}

        .field.checkbox
          = f.check_box :data_protection
          = f.label :data_protection, "I agree my details may be used for marketing by #{t('organisation.name')} and trusted partners (optional)"

      = f.submit 'Submit', class: 'button'
