- page = PagePresenter.new(@content)
- page.add_breadcrumb_current('Express interest')
- opp = OpportunityPresenter.new(self, @opportunity, @content)

.process
  .container
    = render partial: "components/breadcrumbs", locals: { breadcrumbs: page.breadcrumbs }

    %h1.padding-top-30.margin-bottom-15
      %span.progress You are expressing an interest in
      = opp.title_with_country

    %p.intro.description
      All fields are required unless marked as optional.
      %br
      We've automatically used some details you gave us earlier. You can update your details later on your account page.

    = form_for @enquiry do |f|
      = f.hidden_field :account_type, value: @enquiry.account_type

      %fieldset.details
        %legend Your details
        -# input values to be prepopulated from account details
        .field-group.populated
          .field
            = f.label :first_name, "First name"
            = f.text_field :first_name, value: @enquiry.first_name, required: "required", readonly: true
          .field
            = f.label :last_name, "Last name"
            = f.text_field :last_name, value: @enquiry.last_name, required: "required", readonly: true
          - if !@enquiry.individual?
            .field
              = f.label :job_title, "Job title"
              = f.text_field :job_title, value: @enquiry.job_title, required: "required", readonly: true
        - if @enquiry.individual?
          .field
            = f.label :job_title, "Job title (optional)"
            = f.text_field :job_title, value: @enquiry.job_title, :class => "medium"
        .field
          = f.label :company_telephone, "Phone number (optional)"
          = f.text_field :company_telephone, value: @enquiry.company_telephone, :class => "medium"
      %fieldset.business
        %legend About your business
        - if @enquiry.individual?
          .field
            = f.label :company_name, "Business name", class: "required"
            = f.text_field :company_name, value: @enquiry.company_name, required: "required", :class => "medium"
          .field{:id=>"companies-house-number"}
            = f.label :company_house_number, "Companies house number (optional)"
            = f.text_field :company_house_number, value: @enquiry.company_house_number, :class => "medium"
          .field
            = f.label :company_address, "Address", class: "required"
            = f.text_field :company_address, value: @enquiry.company_address, required: "required", :class => "medium"
          .field
            = f.label :company_postcode, "Post code", class: "required"
            = f.text_field :company_postcode, value: @enquiry.company_postcode, required: "required", :class => "medium"
        - else
          .field-group.populated
            .field
              = f.label :company_name, "Company name", class: "required"
              = f.text_field :company_name, value: @enquiry.company_name, required: "required", readonly: true
            - if @enquiry.account_type == 'COMPANIES_HOUSE'
              .field{:id=>"companies-house-number"}
                = f.label :company_house_number, "Company number"
                = f.text_field :company_house_number, value: @enquiry.company_house_number, required: "required", readonly: true
            .field
              = f.label :company_address, "Address", class: "required"
              = f.text_field :company_address, value: @enquiry.company_address, required: "required", readonly: true
            .field
              = f.label :company_postcode, "Post code", class: "required"
              = f.text_field :company_postcode, value: @enquiry.company_postcode, required: "required", readonly: true
            .field
              %p
                = 'We will attach your published business profile.'
                = link_to 'Edit your business profile', Figaro.env.FAB_PROFILE_URL, target: :blank

        .field-group.highlight-box.margin-bottom-30.expandable-container
          .field.checkbox.margin-bottom-0
            = check_box_tag :add_trading_address
            %label{ for: 'add_trading_address' }
              Add trading address (optional)
          %div.expandable.margin-top-30{:id=>"expandable"}
            .field
              = f.label :trading_address, "Trading address"
              = f.text_field :trading_address, value: @enquiry.trading_address
            .field.margin-bottom-0
              = f.label :trading_address_postcode, "Trading post code"
              = f.text_field :trading_address_postcode, value: @enquiry.trading_address_postcode, :class => "small"

        .field
          = f.label :company_url, "Your business web address (optional)"
          = f.text_field :company_url, value: @enquiry.company_url, :class => "medium"
        .field.medium-select
          = f.label :company_sector, "Which industry is your company in?", class: "required"
          = f.select(:company_sector, Sector.pluck(:name).to_a, required: "required", prompt: 'Sector')


      %fieldset.your-exporting
        %legend About your exporting experience
        .field.small-select
          = f.label :existing_exporter, "Have you sold products or services overseas?", class: "required"
          = f.select(:existing_exporter, Enquiry::EXISTING_EXPORTER_CHOICES, required: "required", prompt: 'Select')

        .field.margin-bottom-0
          = f.label :company_explanation, class: "required" do
            Explain what your company does and how it meets the requirements for this opportunity.
            %span.helptext
              This is your chance to promote your company and make your proposal stand out. (max. 1,100 characters)


          = f.text_area :company_explanation, {required: "required", rows: "8", maxlength: "1100"}


      = f.submit 'Submit', class: 'button'
