.container
  .legacy.margin-top-30
    %h1.h1 You are submitting a proposal for
    %h2.h2= @opportunity.title

    %div#register-an-interest-form
      .register-form.panel
        = form_for @enquiry, class: "validate-form" do |f|
          %fieldset.your-details
            %h3.h3 Your Details
            %p.instructions
              All fields are required unless marked as optional.
            .form-group
              = f.label :first_name, "First Name", class: "required"
              = f.text_field :first_name, required: "required"
            .form-group
              = f.label :last_name, "Last Name", class: "required"
              = f.text_field :last_name, required: "required"
            .form-group
              = f.label :company_telephone, "Telephone Number", class: "required"
              = f.text_field :company_telephone, class: "short-input", required: "required"

          %fieldset.your-business
            %h3.h3 About Your Business
            - if current_user&.saved_enquiry_data?
              %div{id: "companies-house-section", class: "form-group"}
                = f.label :company_name, "Company Name", class: "required"
                = f.text_field :company_name, required: "required", class: "short-input"

              %div
                .form-group
                  = f.label :company_house_number, "Companies House Number"
                  = f.text_field :company_house_number
                .form-group
                  = f.label :company_address, "Company Address", class: "required"
                  = f.text_field :company_address, required: "required"
                .form-group
                  = f.label :company_postcode, "Post Code", class: "required"
                  = f.text_field :company_postcode, {class: "short-input", required: "required"}
                .form-group
                  = f.label :company_url, "Company URL (optional)"
                  = f.text_field :company_url

                - if trade_profile(@enquiry.company_house_number)
                  .form-group
                  = 'We have identified that you have a trade profile.'
                  %br
                  = 'Your'
                  = link_to 'Trade Profile', trade_profile(@enquiry.company_house_number), target: :blank
                  = 'will be added to your application.'
                - else
                  = 'no trade profile available'
            - else
              %div{id: "companies-house-section", class: "form-group"}
                = f.label :company_name, "Company Name", class: "required"
                = f.text_field :company_name, required: "required", class: "short-input"
                %span.loadingIndicator
                %button{id: "ch_search", class: "button companies-house-search-btn", type: "button"} Search Companies House

                %div{id: "ch_search-results", class: "form-group"}
                  %ul.companies-house-list

              %div#no-companies-house-number-fields
                .form-group#company_house_number
                  = f.label :company_house_number, "Companies House Number"
                  = f.text_field :company_house_number, readonly: true
                .form-group
                  = f.label :company_address, "Company Address", class: "required"
                  = f.text_field :company_address, required: "required"
                .form-group
                  = f.label :company_postcode, "Post Code", class: "required"
                  = f.text_field :company_postcode, {class: "short-input", required: "required"}
                .form-group
                  = f.label :company_url, "Company URL (optional)"
                  = f.text_field :company_url

          %fieldset.your-exporting
            %h3.h3 About Your Exporting Experience
            .form-group
              = f.label :existing_exporter, "Have you sold products or services to overseas customers?", class: "required"
              = f.select(:existing_exporter, Enquiry::EXISTING_EXPORTER_CHOICES, required: "required", prompt: 'Select')
            .form-group
              = f.label :company_sector, "Select your sector", class: "required"
              = f.select(:company_sector, Sector.pluck(:name).to_a, required: "required", prompt: 'Sector')
            .form-group
              .row.collapse
                .column-9
                  = f.label :company_explanation, class: "required" do
                    Explain what your company does and how it meets the requirements for this opportunity. This is your chance to promote your company and make your proposal stand out.
                    %small (max. 1,100 characters)
              = f.text_area :company_explanation, {required: "required", rows: "8", maxlength: "1100"}
            .form-group
              %label
                = f.check_box :data_protection
                = "I agree my details may be used for marketing by #{t('organisation.name')} and trusted partners (optional)"

            = f.submit 'Submit', class: 'button'
