%div.searchPanel
  = form_tag admin_stats_path, method: 'get' do

    %h1.heading-medium Select date range

    .grid-row
      .column-one-third
        %div.form-group
          = label_tag :stats_from, 'From'
          = select_date stats_search_form.date_from, { prefix: :stats_from, start_year: SITE_LAUNCH_YEAR, end_year: Time.zone.today.year }
      .column-two-thirds
        %div.form-group
          = label_tag :stats_to, 'To'
          = select_date stats_search_form.date_to, { prefix: :stats_to, start_year: SITE_LAUNCH_YEAR, end_year: Time.zone.today.year }

    %h1.heading-medium Select granularity
    = render partial: 'stats_radio', locals: { stats_search_form: @stats_search_form }

    %div.grid-row
      %div.panel.panel-border-narrow.js-hidden{:id => 'select-source', 'aria-expanded' => 'false'}
        %h3.heading-small Choose source
        %div.form-group
          = label_tag :region, 'Source', :class => 'form-label visually-hidden'
          = render partial: 'stats_opportunity_source_option_select', locals: { ids: ':source_ids', collection: @stats_search_form.sources }

      %div.column-one-third
        %div.panel.panel-border-narrow.js-hidden{:id => 'select-region', 'aria-expanded' => 'false'}
          %h3.heading-small Choose regions
          %div.form-group
            = label_tag :region, 'Region', :class => 'form-label visually-hidden'
            = render partial: 'stats_option_select', locals: { method: Region, ids: ':region_ids', collection: @stats_search_form.regions }

        %div.panel.panel-border-narrow.js-hidden{:id => 'select-country', 'aria-expanded' => 'false'}
          %h3.heading-small Choose countries
          %div.form-group
            = label_tag :countries, 'Countries', :class => 'form-label visually-hidden'
            = render partial: 'stats_option_select', locals: { method: Country, ids: ':country_ids', collection: @stats_search_form.countries }

        %div.panel.panel-border-narrow.js-hidden{:id => 'select-service-provider', 'aria-expanded' => 'false'}
          %h3.heading-small Choose service providers
          %div.form-group
            = label_tag :service_provider, 'Service provider', :class => 'form-label visually-hidden'
            = render partial: 'stats_option_select', locals: { method: ServiceProvider, ids: ':service_provider_ids', collection: @stats_search_form.service_providers }

    %div.form-group
      = submit_tag 'Show stats', class: 'button'
