%h1.heading-xlarge
  Stats

%section
  %p
    %strong
      = "Statistics by #{@stats_search_form.granularity}"
      - if @stats_search_form.date_from == @stats_search_form.date_to
        = "on #{@stats_search_form.date_from.to_s(:admin_date)}"
      - else
        = "over the period #{@stats_search_form.date_from.to_s(:admin_date)} to #{@stats_search_form.date_to.to_s(:admin_date)}"

%section
  .grid-row
    .column-one-third
      %div.data.data-1
        %span.data-item.bold-xxlarge 
          = @stats.opportunities_submitted
        %span.data-item.bold-xsmall Opportunities submitted
    .column-one-third
      %div.data
        %span.data-item.bold-xxlarge 
          = @stats.opportunities_published
        %span.data-item.bold-xsmall Opportunities published
    .column-one-third
      %div.data
        %span.data-item.bold-xxlarge 
          = @stats.enquiries
        %span.data-item.bold-xsmall Enquiries

%section
  %h3 Average time to publish an opportunity following submission:
  %div.data
    %span.data-item.bold-xlarge 
      = @stats.average_age_when_published

= render partial: 'stats_search_form', locals: { stats_search_form: @stats_search_form }