/[if lte IE 9]
  = javascript_include_tag 'classlist.polyfill.min'
  = javascript_include_tag 'eventListener.polyfill.min'

= javascript_include_tag 'modernizr.min'
= javascript_include_tag 'admin'
= render partial: 'google_analytics'
