<footer id="footer" class="static-header-footer">
  <nav class="container">
    <div class="link-group"><img id="footer-dit-logo" src="<%=asset_path('logos/DfIT_WHITE_AW.png')%>" height="70px" alt="Department for International Trade"/><img id="footer-eig-logo" src="<%=asset_path('logos/EiG-logo-stacked.svg')%>" height="82px" alt="Exporting is Great"/>
    </div>
    <div class="link-group">
      <p id="footer-export-readiness-links" class="list-heading">Export readiness</p>
      <ul aria-labelledby="footer-export-readiness-links" class="navigation">
        <li><a href="<%=Figaro.env.EXPORT_READINESS_URL %>/new">I&#39;m new to exporting</a>
        </li>
        <li><a href="<%=Figaro.env.EXPORT_READINESS_URL %>/occasional">I export occasionally</a>
        </li>
        <li><a href="<%=Figaro.env.EXPORT_READINESS_URL %>/regular">I&#39;m a regular exporter</a>
        </li>
      </ul>
    </div>
    <div class="link-group">
      <p id="footer-guidance-links" class="list-heading">Guidance</p>
      <ul aria-labelledby="footer-guidance-links" class="navigation">
        <li><a href="<%=Figaro.env.EXPORT_READINESS_URL %>/market-research">Market research</a>
        </li>
        <li><a href="<%=Figaro.env.EXPORT_READINESS_URL %>/customer-insight">Customer insight</a>
        </li>
        <li><a href="<%=Figaro.env.EXPORT_READINESS_URL %>/finance">Finance</a>
        </li>
        <li><a href="<%=Figaro.env.EXPORT_READINESS_URL %>/business-planning">Business planning</a>
        </li>
        <li><a href="<%=Figaro.env.EXPORT_READINESS_URL %>/getting-paid">Getting paid</a>
        </li>
        <li><a href="<%=Figaro.env.EXPORT_READINESS_URL %>/operations-and-compliance">Operations and compliance</a>
        </li>
      </ul>
    </div>
    <div class="link-group">
      <p id="footer-services-links" class="list-heading">Services</p>
      <ul aria-labelledby="footer-services-links" class="navigation">
        <li><a href="<%=Figaro.env.FIND_A_BUYER_URL %>">Create an export profile</a>
        </li>
        <li><a href="<%=Figaro.env.SELLING_ONLINE_OVERSEAS_URL %>">Sell online overseas</a>
        </li>
        <li><a href="<%=Figaro.env.EXPORT_OPPORTUNITIES_URL %>">Find export opportunities</a>
        </li>
        <li><a href="<%=Figaro.env.EXPORT_READINESS_URL %>/get-finance">Get finance</a>
        </li>
        <li><a href="<%=Figaro.env.EVENTS_URL %>">Attend events</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="site-links container">
    <ul class="navigation">
      <li><a href="<%=Figaro.env.EXPORT_READINESS_URL %>/about" class="">About</a>
      </li>
      <li><a href="<%=Figaro.env.CONTACT_US_FORM %>" class="">Contact us</a>
      </li>
      <li><a href="<%=Figaro.env.EXPORT_READINESS_URL %>/privacy-and-cookies" class="">Privacy and cookies</a>
      </li>
      <li><a href="<%=Figaro.env.EXPORT_READINESS_URL %>/terms-and-conditions" class="">Terms and conditions</a>
      </li>
      <li><a href="https://www.gov.uk/government/organisations/department-for-international-trade" class="">Department for International Trade on GOV.UK</a>
      </li>
    </ul>
  </div>
  <div class="global-footer">
    <p class="container"><span>&copy; Crown copyright 2017. All rights reserved.</span>
    </p>
  </div>
</footer>
