%footer{role: "contentinfo"}
  .footer.background--great-blue.soft--top
    .outer-container
      .footer-section
        .col-8
          %a{href: cms_url_for('/'), title: "Go to the #{t('site_name')} homepage"}
            %img.footer-logo{alt: "#{t('site_name')} logo", src: asset_path("logos/EiG-logo-stacked.svg")}/
        .col-4
          %ul.footer-links.footer-links--border
            %li.push-half--bottom
              %a{href: cms_url_for('/new/'), title: "New to exporting"} New to exporting
            %li.push-half--bottom
              %a{href: cms_url_for('/occasional/'), title: "Occasional exporter"} Occasional exporter
            %li
              %a{href: cms_url_for('/regular/'), title: "Regular exporter"} Regular exporter
      .footer-section.footer-section-right
        .col-6
          %ul.footer-links.footer-middle-section
            %li.push-half--bottom
              %a{href: opportunities_path, title: t('nav.services.export_opportunities')}= t('nav.services.export_opportunities')
            %li.push-half--bottom
              %a{href: "https://find-a-buyer.export.great.gov.uk/", title: t('nav.services.find_a_buyer')}= t('nav.services.find_a_buyer')
            %li.push-half--bottom
              %a{href: "https://selling-online-overseas.export.great.gov.uk/markets/", title: t('nav.services.selling_overseas')}= t('nav.services.selling_overseas')
            %li.push-half--bottom
              %a{href: cms_url_for('/get-finance/'), title: t('nav.services.finance')}= t('nav.services.finance')
            %li
              %a{href: "https://events.trade.gov.uk/", title: t('nav.services.events')}= t('nav.services.events')
        .col-6
          %ul.footer-links.footer-links--border
            %li.push-half--bottom
              %a{href: cms_url_for('/about/'), title: "About"} About
            %li.push-half--bottom
              %a{href: "https://contact-us.export.great.gov.uk/selling_online_overseas", title: "Contact us"} Contact us
            %li.push-half--bottom
              %a{href: cms_url_for('/privacy-and-cookies/'), title: "Privacy and Cookies"} Privacy &amp; cookies
            %li.push-half--bottom
              %a{href: cms_url_for('/terms-and-conditions/'), title: "Terms and conditions"} Terms &amp; conditions
            %li
              %a{href: "https://www.gov.uk/government/organisations/department-for-international-trade", title: "Department for International Trade"} Department for International Trade
    .outer-container
      .footer-bottom
        .navigation-strip
          %ul.list-inline.list-separators
            %li.float--left.soft--right
              %a{href: "https://www.gov.uk/", title: "HM Government"}
                %img{src: asset_path('logos/HM_Government_logo_horizontal.svg')}/
            %li.float--left.soft--left.footer-links--border
              %a.link--grey{href: "https://great.gov.uk/", title: "part of great.gov.uk"}
                Part of
                %strong great.gov.uk
        .footer-copy.font-light-grey.font-xsmall
          %p &copy; Crown copyright 2017. All rights reserved.

/[if IE 8]
  %script{src: asset_path('dit-ie8-2017.css')}

