
<footer id="footer" class="static-header-footer">
  <nav class="container grid-container">
    <div class="link-group"><img id="footer-dit-logo" src="<%=asset_path('logos/DfIT_WHITE_AW.png')%>" height="75px"/><img id="footer-eig-logo" src="<%=asset_path('logos/eig-logo-stacked.svg')%>" height="75px"/>
    </div>
    <div class="link-group">
      <p id="footer-links-2" class="list-heading">Export Readiness</p>
      <ul aria-labelledby="footer-links-2" class="navigation">
        <li><a href="<%=Figaro.env.EXPORT_READINESS_URL %>/new">I'm new to exporting</a>
        </li>
        <li><a href="<%=Figaro.env.EXPORT_READINESS_URL %>/occasional">I export occasionally</a>
        </li>
        <li><a href="<%=Figaro.env.EXPORT_READINESS_URL %>/regular">I'm a regular exporter</a>
        </li>
      </ul>
    </div>
    <div class="link-group">
      <p id="footer-links-3" class="list-heading">Guidance</p>
      <ul aria-labelledby="footer-links-3" class="navigation">
        <li><a href="<%=Figaro.env.EXPORT_READINESS_URL %>/market-research">Market Research</a>
        </li>
        <li><a href="<%=Figaro.env.EXPORT_READINESS_URL %>/customer-insight">Customer insight</a>
        </li>
        <li><a href="<%=Figaro.env.EXPORT_READINESS_URL %>/finance">Finance</a>
        </li>
        <li><a href="<%=Figaro.env.EXPORT_READINESS_URL %>/business-planning">Business planning</a>
        </li>
        <li><a href="<%=Figaro.env.EXPORT_READINESS_URL %>/getting-paid">Getting paid</a>
        </li>
        <li><a href="<%=Figaro.env.EXPORT_READINESS_URL %>/operations-and-compliance">Operations And Compliance</a>
        </li>
      </ul>
    </div>
    <div class="link-group">
      <p id="footer-links-4" class="list-heading">Services</p>
      <ul aria-labelledby="footer-links-4" class="navigation">
        <li><a href="/">Export opportunities</a>
        </li>
        <li><a href="<%=Figaro.env.SELLING_ONLINE_OVERSEAS_URL %>">Selling online overseas</a>
        </li>
        <li><a href="<%=Figaro.env.FIND_A_BUYER_URL %>">Find a buyer</a>
        </li>
        <li><a href="<%=Figaro.env.EXPORT_READINESS_URL %>/get-finance">Finance</a>
        </li>
        <li><a href="<%=Figaro.env.EVENTS_URL %>">Events</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="site-links container">
    <ul class="navigation">
      <li><a href="<%=Figaro.env.GREAT_GOV_URL %>">Part of <strong>great.gov.uk</strong></a>
      </li>
      <li><a href="<%=Figaro.env.GREAT_GOV_URL %>/about">About</a>
      </li>
      <li><a href="<%=Figaro.env.CONTACT_US_FORM %>">Contact Us</a>
      </li>
      <li><a href="<%=Figaro.env.GREAT_GOV_URL %>/privacy-cookies">Privacy and cookies</a>
      </li>
      <li><a href="<%=Figaro.env.GREAT_GOV_URL %>/terms-conditions">Terms &amp; conditions</a>
      </li>
      <li><a href="<%=Figaro.env.GREAT_GOV_URL %>">Department for International Trade</a>
      </li>
    </ul>
  </div>
  <div class="global-footer">
    <p class="container"><a href="https://www.gov.uk/"><img src="<%=asset_path('logos/HM_Government_logo_horizontal.svg')%>" alt="HM Government"/></a><span>&copy; Crown copyright 2017. All rights reserved.</span>
    </p>
  </div>
</footer>