%a{:href => '#proposition-links', :class => 'js-header-toggle menu'} Menu
%nav#proposition-menu
  = link_to "Export Opportunities", admin_opportunities_path, :id => 'proposition-name'

  - if controller_name != 'sessions'
    %ul#proposition-links
      %li
        = link_to 'Opportunities', admin_opportunities_path
      %li
        = link_to 'Enquiries', admin_enquiries_path
      - if administrator?
        %li
          = link_to 'Editors', admin_editors_path
      %li
        = link_to 'Stats', admin_stats_path
      - if administrator? || previewer? || publisher?
        %li
          = link_to 'Reports', admin_reports_path
      - if current_editor
        %li#logout
          = button_to('Log out', admin_destroy_editor_session_path, :class => 'button', :method => :delete)
      - else
        %li#login
          = link_to('Log in', admin_new_editor_session_path, :class => 'button')
