!!!
/[if IE 8] <html class="no-js lt-ie10 lt-ie9" lang="en-GB">
/[if IE 9] <html class="no-js lt-ie10" lang="en-GB">
/[if gt IE 9]
%html.no-js{:lang => "en-GB"}
  %head
    %title= "#{t('organisation.name')} - Opportunities"
    = csrf_meta_tags
    = stylesheet_link_tag 'application-admin', media: 'all'
    = stylesheet_link_tag 'transformation_admin/temporary', media: 'all'
    = render partial: 'admin/includes/favicon'

    /[if lte IE 9]
      = javascript_include_tag 'classlist.polyfill.min'
      = javascript_include_tag 'eventListener.polyfill.min'
      
  %body
    = render partial: 'svg_icons'
    = render partial: 'admin/includes/header'
    .container
      = render partial: 'admin/includes/phase_banner'

    %main#content{:role => 'main'}
      = render partial: 'admin/includes/flash_announcement'
      = render partial: 'admin/includes/flash_error'
      = render partial: 'admin/includes/flash_notice'

      - if content_for?(:errors)
        = yield(:errors)

      = content_for?(:content) ? yield(:content) : yield

    = render partial: 'admin/includes/footer'

    = javascript_include_tag 'modernizr.min'
    = javascript_include_tag 'admin'
    = yield :action_specific_head
    = render partial: 'google_analytics'
