!!!
/[if IE 8] <html class="no-js lt-ie10 lt-ie9" lang="en-GB">
/[if IE 9] <html class="no-js lt-ie10" lang="en-GB">
/[if gt IE 9]
%html.no-js{:lang => "en-GB"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => "UsYPpFjZgK_HPJX0BmyaiSEFr6VDk-8kD4NARXzhhCE", :name => "google-site-verification"}

    %link{:href => "#{asset_path('favicon.png')}", :rel => "icon", :type => "image/png"}
    %link{:href => "#{asset_path('favicon.svg')}", :rel => "mask-icon", :color => "#0b0c0c"}
    :css
      svg.icon {
        width: 0;
        height: 0;
      }
    = content_for(:head)
    %title= t('site_name')
    = stylesheet_link_tag 'application', media: 'all'
    /[if lte IE 9]
      = javascript_include_tag 'oldie-support.min'
      = javascript_include_tag 'classlist.polyfill.min'
      = javascript_include_tag 'eventListener.polyfill.min'        

  %body{id: ExportOpportunities.flipper.enabled?(:new_header_and_footer) ? nil : 'dit'}
    = render partial: 'svg_icons'

    = render 'layouts/dit_header'

    - if content_for?(:hero)
      .hero-header-wrapper
        %header.hero-header
          .hero-header__content
            = yield(:hero)

    %main.main{:role => "main"}

      - if content_for?(:errors)
        %header.panel.panel--primary
          = yield(:errors)

      = content_for :title
      - flash.each do |type, message|
        %div{class: "flash flash-#{type}"}
          = Array(message).join(' ')

      = yield

      = render 'layouts/dit_footer'
      
    = javascript_include_tag 'modernizr.min', defer: true
    = javascript_include_tag 'application'
    = render partial: 'google_analytics'
