!!!
/[if IE 8] <html class="no-js lt-ie10 lt-ie9" lang="en-GB">
/[if IE 9] <html class="no-js lt-ie10" lang="en-GB">
/[if gt IE 9]
%html.no-js{:lang => "en-GB"}
  / <![endif]
  %head
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => "UsYPpFjZgK_HPJX0BmyaiSEFr6VDk-8kD4NARXzhhCE", :name => "google-site-verification"}

    %link{href: "#{asset_path('favicon-lg.png')}", rel: 'icon', type: 'image/x-icon'}
    /[if IE] <link rel="shortcut icon" href="https://www.export.great.gov.uk/images/favicon.ico" type="image/x-icon">

    :css
      svg.icon {
        width: 0;
        height: 0;
      }
    = content_for(:head)
    %title= page_title

    -# Global header-footer styles
    - unless request.fullpath.include?('/admin')
      - if Figaro.env.magna_header_enabled?
        = stylesheet_link_tag('export-components/magna-main')
      - else
        = stylesheet_link_tag('export-components/main')
      = stylesheet_link_tag 'transformation/main'
      = stylesheet_link_tag 'transformation/pages/form'
      = stylesheet_link_tag 'transformation/pages/enquiries'

    = stylesheet_link_tag 'application', media: 'all'
    /[if lte IE 9]
      = javascript_include_tag 'oldie-support.min'
      = javascript_include_tag 'classlist.polyfill.min'
      = javascript_include_tag 'eventListener.polyfill.min'

    = javascript_include_tag 'jquery-3.3.1.min.js'

    -# Global header-footer styles
    - unless request.fullpath.include?('/admin')
      = javascript_include_tag  'export-components/dit.classes.Dropdown'
      - if Figaro.env.magna_header_enabled?
        = javascript_include_tag  'export-components/dit.components.magnaHeader'
      - else
        = javascript_include_tag  'export-components/dit.components.greatDomesticHeader'


  %body{id: ExportOpportunities.flipper.enabled?(:new_header_and_footer) ? nil : 'dit'}
    = render partial: 'google_analytics'
    = render partial: 'svg_icons'

    = render 'shared/skip_link'
    = render 'shared/cookie_notice'

    - if Figaro.env.magna_header_enabled?
      = render partial: 'shared/magna_header', locals: { cookie_signed_in_user: user_signed_in_cookie? }
    - else
      = render partial: 'shared/header', locals: { cookie_signed_in_user: user_signed_in_cookie? }

    - if content_for?(:hero)
      .hero-header-wrapper
        %header.hero-header
          .hero-header__content
            = yield(:hero)

    %main#application.main{:role => "main"}

      - if content_for?(:errors)
        .container
          .legacy.margin-top-30
            = yield(:errors)

      = content_for :title
      - flash.each do |type, message|
        %div{class: "flash flash-#{type}"}
          = Array(message).join(' ')

      = yield

    - if Figaro.env.magna_header_enabled?
      = render partial: 'shared/magna_footer'
    - else
      = render partial: 'shared/footer'

    = javascript_include_tag 'modernizr.min', defer: true
    = javascript_include_tag 'application'
