!!!
%html{ :xmlns=>"http://www.w3.org/1999/xhtml" }
  %head
    %meta{ "http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8" }
    %meta{ :name=>"viewport", :content=>"width=device-width, initial-scale=1.0" }
    %title Exporting is GREAT
    :css

      /*** CLIENT-SPECIFIC STYLES (left from full template) ***/


      /* Prevent Webkit and Windows Mobile platforms from changing default font sizes.*/
      body { width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0; }
      /* Some sensible defaults for images, Bring inline: Yes. */
      img {outline:none; text-decoration:none; -ms-interpolation-mode: bicubic;}
      a img {border:none;}

      /* Hotmail header color reset, Bring inline: Yes. */
      h1, h2, h3, h4, h5, h6 {color: #000000 !important;}
      h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {color: #B00D23 !important;}

      /* Outlook 07, 10 Padding issue fix, Bring inline: No.*/
      table td {border-collapse: collapse;}

      /* Remove spacing around Outlook 07, 10 tables, Bring inline: Yes */
      table { border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; }


      /*** EMAIL SPECIFIC ***/

      a, a:active, a:visited {
        color: #006ccc !important;
      }

      h1 {
        font-size: 30px;
      }

      h1 span {
        color: #666666;
        display: block;
        font-size: 20px;
        font-weight: normal;
        margin-bottom: 10px;
      }

      li {
        margin-bottom: 10px;
      }

      p {
        font-size: 19px;
        margin: 0 0 30px 0;
      }

      p, td {
        color: #000000;
        font-family: Arial, sans-serif;
        font-size: 100%;
        line-height: 1.2em;
      }

      p.action a {
        background-color: #006ccc !important;
        border-color: #006ccc;
        border-style: solid;
        border-width: 2px;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #ffffff !important;
        cursor: pointer;
        display: inline-block;
        font-family: Arial, sans-serif;
        font-size: 19px;
        font-weight: bold;
        line-height: 26px;
        overflow: hidden;
        padding: 10px 45px;
        text-decoration: none;
        vertical-align: top;
        width: auto;
      }

      @media only screen and (max-width: 640px) {
        table { width: auto; }
        table table { width: 100%; }
      }

  %body{ :bgcolor=>"#f2eee8" }
    %center
      &nbsp;
      %table{ :width=>"600", :cellspacing=>"0", :cellpadding=>"0", :border=>"0", :bgcolor=>"#ffffff", :style=>"table-layout:fixed;" }
        %thead
          %tr
            %td{ :style=>"font-family: Arial, sans-serif; font-size:19px; padding:0px;" }
              = image_tag "email/DfIT_WHITE_SML_AW@2x.jpg", { :alt=>"Department for International Trade", :width=>"600", :style=>"display:block;" }


        %tbody
          %tr
            %td{ :style=>"font-family: arial, sans-serif; font-size:19px; padding:30px 30px 30px 30px;", :valign=>"top", :align=>"left" }
              = yield

        %tfoot
          %tr
            %td{ :style=>"font-family:Arial,sans-serif; font-size:15px; padding:30px 30px 30px 30px;" }
              %table{ :cellspacing=>"0", :cellpadding=>"0", :border=>"0", :width=>"100%" }
                %tr
                  %td
                    %p
                      The Exporting is GREAT team
                      %br
                      = link_to "www.great.gov.uk", Figaro.env.EXPORT_READINESS_URL.to_s
                  %td{:style=>"text-align:right;"}
                    = image_tag "email/EIGLogo@2x.jpg", { :alt=>"Exporting is GREAT", :style=>"display:block; margin-bottom:10px;", :height=>"70" }

          %tr
            %td{ :style=>"padding: 0px 30px 0 30px" }
              %hr{ :style=>"background-color:#B00D23; border-color:#B00D23; border-style:solid; border-width:2px; height:2px; margin:0px" }

      - if content_for?(:email_sub_footer)
        = content_for :email_sub_footer

