<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <% @page_type = 'EnquiriesPage' %>

    <title>Express interest - <%= @opportunity.title %> - <%= t('site_name') %> - great.gov.uk</title>
    <%= csrf_meta_tags %>
    <%= render partial: 'includes/transformation_head_tags' %>
    <%= render partial: 'includes/transformation_styles' %>
    <%= render partial: 'includes/transformation_scripts' %>

    <%= stylesheet_link_tag 'transformation/pages/form' %>
    <%= stylesheet_link_tag 'transformation/pages/enquiries' %>
    <%= javascript_include_tag 'transformation/dit.page.form' %>
    <%= javascript_include_tag 'transformation/dit.page.enquiries' %>
    <%= yield :action_specific_head %>

    <%= render partial: 'includes/analytics_head' %>
  </head>
  <body>
    <%= render partial: 'includes/analytics_body' %>
    <%= render partial: 'shared/skip_link' %>
    <%= render partial: 'shared/cookie_notice' %>
    <% if Figaro.env.magna_header_enabled? %>
    <%= render partial: 'shared/magna_header', locals: { cookie_signed_in_user: user_signed_in_cookie?} %>
    <% else %>
    <%= render partial: 'shared/header', locals: { cookie_signed_in_user: user_signed_in_cookie?} %>
    <% end %>

    <main id="content" role="main">
      
      <div class="container">
        <% flash.each do |type, message| %>
          <div class="flash flash-<%= type %>">
            <%= Array(message).join(' ') %>
          </div>
        <% end %>        
      </div>

      <%= content_for?(:errors) ? yield(:errors) : "" %>
      
      <%= content_for?(:content) ? yield(:content) : yield %>

      <%= render "components/feedback" %>
    </main>

    <%= render partial: 'shared/footer' %>
  </body>
</html>
