<!DOCTYPE html>
<html lang="en-GB">
<head>
  <title><%= t('site_name') %></title>
  <%= csrf_meta_tags %>
  <%= render partial: 'includes/transformation_head_tags' %>
  <%= render partial: 'includes/transformation_styles' %>
  <%= render partial: 'includes/transformation_scripts' %>

  <%= stylesheet_link_tag 'transformation/pages/form' %>
  <%= javascript_include_tag 'transformation/dit.page.form' %>
  <%= yield :action_specific_head %>

</head>
<body>
  <%= render partial: 'google_analytics' %>
  <%= render partial: 'export_components/header' %>

  <main id="main" role="main">
    <%= content_for?(:errors) ? yield(:errors) : "" %>
    <%= content_for?(:content) ? yield(:content) : yield %>

    <%= render "components/feedback" %>
  </main>

  <%= render partial: 'export_components/footer' %>
</body>
</html>
