<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie10 lt-ie9" lang="en-GB"> <![endif]-->
<!--[if IE 9]> <html class="no-js lt-ie10" lang="en-GB"> <![endif]-->
<!--[if gt IE 9]>  <![endif]-->
<html class='no-js' lang='en-GB'>
<head>
  <%= content_for?(:content) ? yield(:content) : yield %>

  <title><%= t('organisation.name') %> - <%= @article.title %></title>
  <%= stylesheet_link_tag 'updated/admin', media: 'all' %>
  <%= stylesheet_link_tag 'updated/layouts/help', media: 'all' %>
  <%= csrf_meta_tags %>
  <%= render partial: 'admin/includes/global_script_tags' %>
</head>
<body class="help help-article">
  <%= render partial: 'admin/includes/header' %>

  <main id="main" role="main" class="container">
    <%= render partial: 'admin/includes/phase_banner' %>

    <article>
      <%= render partial: 'admin/includes/flash_error' %>
      <%= render partial: 'admin/includes/flash_notice' %>
      <%= content_for?(:errors) ? yield(:errors) : "" %>

      <h1><%= @article.title %></h1>
      <div class="article-index">
        <ol>
          <% @article.sections.each do |s| %>
            <li>
              <% if s[:current] %>
                <span class="selected"><%= s[:heading] %></span>
              <% else %>
                <%= link_to s[:heading], s[:url] %>
              <% end %>
            </li>
          <% end %>
        </ol>
      </div>

      <div class="article-content">
        <h2><%= @article.current_section[:heading] %></h2>
        <%= @article.current_section[:content].html_safe %>
      </div>

      <div class="article-pagination">
        <% if @article.pagination.has_key? :previous %>
          <a class="previous" href="<%= @article.pagination[:previous][:url] %>">
            <span class="label">Previous</span>
            <span class="title"><%= @article.pagination[:previous][:heading] %></span>	
          </a>
        <% end %>

        <% if @article.pagination.has_key? :next %>
          <a class="next" href="<%= @article.pagination[:next][:url] %>">
            <span class="label">Next</span>
            <span class="title"><%= @article.pagination[:next][:heading] %></span>
          </a>
        <% end %>
      </div>

      <div class="article-controls">
        <a href="/<%= @article.url %>/print">
          <%= image_tag "icons/print.png", :class => "icon", :alt => "", :width => "16" %>Print entire guide
        </a>
      </div>

    </article>

    <aside>
      <h2>Other Guidance</h2>
      <ul class="navigation">
        <% @article.related_links.each do |s| %>
          <li><%= link_to s[:text], s[:href] %></li>
        <% end %>
      </ol>
    </aside>
  </main>

  <footer id="footer">
    <div class="container">
      <div class="feedback-section">
        <p>Do you have other suggestions? Please <a href="mailto:#{t('organisation.feedback_email')}?subject=EIG%20alpha%20feedback">email us with your feedback</a>
        </p>
      </div>
    </div>
  </footer>
</body>
</html>
