<!DOCTYPE html>
<html lang='en-GB'>
<head>
  <title><%= t('organisation.name') %> - Guidance</title>
  <%= csrf_meta_tags %>

  <% if request['css'] == 'transform' %>
    <%= render partial: 'admin/includes/transformation_head' %>
    <%= render partial: 'admin/includes/transformation_styles' %>
    <%= render partial: 'admin/includes/transformation_scripts' %>
    <%= yield :action_specific_head %>
  <% else %>
    <%= stylesheet_link_tag 'updated/admin', media: 'all' %>
    <%= stylesheet_link_tag 'updated/layouts/help', media: 'all' %>
    <%= render partial: 'admin/includes/favicon' %>
    <%= render partial: 'admin/includes/global_script_tags' %>
  <% end %>
</head>
<body class="help">
  <%= render partial: 'admin/includes/header' %>

  <main id="content" role="main">
    <%= render partial: 'admin/includes/phase_banner' %>
    <%= render partial: 'admin/includes/flash_announcement' %>
    <%= render partial: 'admin/includes/flash_error' %>
    <%= render partial: 'admin/includes/flash_notice' %>
    <%= content_for?(:errors) ? yield(:errors) : "" %>
    <%= content_for?(:content) ? yield(:content) : yield %>
  </main>

  <%= render partial: 'admin/includes/footer' %>
</body>
</html>
