<!DOCTYPE html>
<html lang='en-gb'>
<head>
  <%= content_for?(:content) ? yield(:content) : yield %>
  <title><%= t('organisation.name') %> - <%= @article.title %></title>
  <%= csrf_meta_tags %>

  <%= render partial: 'admin/includes/transformation_head' %>
  <%= render partial: 'admin/includes/transformation_styles' %>
  <%= render partial: 'admin/includes/transformation_scripts' %>
  <%= stylesheet_link_tag 'transformation_admin/pages/help' %>
  <%= yield :action_specific_head %>
</head>
<body class="help-article-print">
  <%= render partial: 'admin/includes/header' %>

  <main id="main" role="main">
    <%= render partial: 'admin/includes/phase_banner' %>

    <article class="container">
      <h1><%= @article.title %></h1>
      <% @article.sections.each do |s| %>
        <div class="article-content">
          <h2><%= s[:heading] %></h2>
          <%= s[:content].html_safe %>
        </div>
      <% end %>
    </article>

  </main>

  <footer id="footer">
    <div class="container">
      <button class="button" onclick="window.print()">Print</button>
    </div>
  </footer>
</body>
</html>
