<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie10 lt-ie9" lang="en-GB"> <![endif]-->
<!--[if IE 9]> <html class="no-js lt-ie10" lang="en-GB"> <![endif]-->
<!--[if gt IE 9]>  <![endif]-->
<html class='no-js' lang='en-GB'>
<head>
  <title><%= t('organisation.name') %> - Opportunities</title>
  <%= stylesheet_link_tag 'updated/admin', media: 'all' %>
  <%= stylesheet_link_tag 'updated/layouts/help', media: 'all' %>
  <%= csrf_meta_tags %>
  <!--[if lte IE 9]>
    <%= javascript_include_tag 'classlist.polyfill.min' %>
    <%= javascript_include_tag 'eventListener.polyfill.min' %>
  <![endif]-->
</head>
<body class="help">
  <%= render partial: 'svg_icons' %>

  <header id="header">
    <div class="container">
      <a href="/" title="Go to the Opportunities homepage" id="logo">
        <img src="/images/graphic_crown.png" height="31" alt="">
        <%= t('organisation.name') %>
      </a>
      <%= render partial: 'admin/includes/menu' %>
    </div>
  </header>

  <main id="main" role="main" class="container">
    <%= render partial: 'admin/includes/phase_banner' %>

    <% if flash[:alert] %>
      <div class="alert flash error">
        <% if flash[:alert] == t('devise.failure.invalid') %>
          <p><%= t('devise.failure.invalid') %></p>
          <p>Some users have been unable to log in with their previous password. If you encounter this problem, please <% link_to 'reset your password', new_editor_password_path %>.</p>
        <% else %>
          <p><%= flash[:alert] %></p>
        <% end %>
      </div>
    <% end %>

    <% if flash[:notice] %>
      <div class="alert flash info">
        <p><%= flash[:notice] %></p>
      </div>
    <% end %>

    <%= content_for?(:errors) ? yield(:errors) : "" %>
    <%= content_for?(:content) ? yield(:content) : yield %>

  </main>

  <footer id="footer">
    <div class="container">
      <div class="feedback-section">
        <p>Do you have other suggestions? Please <a href="mailto:#{t('organisation.feedback_email')}?subject=EIG%20alpha%20feedback">email us with your feedback</a>
        </p>
      </div>
    </div>
  </footer>

  <%= javascript_include_tag 'modernizr.min' %>
  <%= javascript_include_tag 'admin' %>
  <%= render partial: 'google_analytics' %>
</body>
</html>
