<!DOCTYPE html>
<html lang="en-gb">
  <% @page_type = 'LandingPage' %>

  <head>
    <title><%= t('site_name') %> - great.gov.uk</title>
    <%= csrf_meta_tags %>
    <%= canonical_tag root_url %>
    <%= hreflang_tags root_url %>
    <%= render partial: 'includes/transformation_head_tags' %>
    <%= render partial: 'includes/transformation_styles' %>
    <%= render partial: 'includes/transformation_scripts' %>

    <%= stylesheet_link_tag 'transformation/pages/landing' %>
    <%= javascript_include_tag 'transformation/dit.page.landing' %>
    <%= yield :action_specific_head %>

    <%= render partial: 'includes/analytics_head' %>
  </head>
  <body>
    <%= render partial: 'includes/analytics_body' %>
    <%= render partial: 'includes/reactComponents' %>
    <%= render partial: 'includes/cookie_modal' %>
    <%= render partial: 'shared/skip_link' %>
    <%= render partial: 'shared/header', locals: { cookie_signed_in_user: user_signed_in_cookie? } %>

    <main id="content" role="main">
      <%= content_for?(:errors) ? yield(:errors) : "" %>
      <%= content_for?(:content) ? yield(:content) : yield %>

      <%= render "components/feedback" %>
    </main>

    <%= render partial: 'shared/footer' %>
  </body>
</html>
